node-RED/flows.json
[{"id":"7c7dc628.08a158","type":"tab","label":"Forest IoT Sensors","disabled":false,"info":""},{"id":"ddc83c3f84d60c8e","type":"tab","label":"Drone Dashboard","disabled":false,"info":"","env":[]},{"id":"e61606508ebe963d","type":"ui_tab","name":"Sensors","icon":"","disabled":false,"hidden":false},{"id":"7be8d158b0070434","type":"ui_group","name":"Temperature / Humidity","tab":"e61606508ebe963d","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"6a9c9282d231d3ab","type":"ui_group","name":"Control","tab":"e61606508ebe963d","order":5,"disp":true,"width":6,"collapse":false,"className":""},{"id":"23d33400bcb95372","type":"ui_group","name":"CO2 / Barometric Pressure","tab":"e61606508ebe963d","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"5713b076e489f026","type":"ui_group","name":"Precipitation / Wind Direction","tab":"e61606508ebe963d","order":4,"disp":true,"width":6,"collapse":false,"className":""},{"id":"64483a0ae6f0d624","type":"ui_group","name":"Wind Info","tab":"e61606508ebe963d","order":2,"disp":true,"width":6,"collapse":false,"className":""},{"id":"64ebfcdfc44fcd46","type":"mqtt-broker","name":"","broker":"192.168.1.184","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"e063193119f81b43","type":"ui_tab","name":"Drone","icon":"","disabled":false,"hidden":false},{"id":"d0c550c72707423e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"dcb5afc7d4b5d1ec","type":"ui_group","name":"Map","tab":"e063193119f81b43","order":3,"disp":true,"width":"20","collapse":false,"className":""},{"id":"4927109389cd5918","type":"ui_group","name":"Onboard","tab":"e063193119f81b43","order":2,"disp":true,"width":11,"collapse":false,"className":""},{"id":"dd01cb23b8d6e1db","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"7be8d158b0070434","order":1,"width":1,"height":1},{"id":"4a9bab82938d5f45","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"7be8d158b0070434","order":3,"width":1,"height":1},{"id":"184f7d49abb3ead8","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"7be8d158b0070434","order":4,"width":1,"height":1},{"id":"b0485c76a2709145","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"7be8d158b0070434","order":5,"width":1,"height":1},{"id":"6cd73b65d83e23fa","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"7be8d158b0070434","order":6,"width":1,"height":1},{"id":"c39a674ec92aa57d","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"7be8d158b0070434","order":7,"width":1,"height":1},{"id":"4a52c90c9ed8b2b8","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"7be8d158b0070434","order":8,"width":1,"height":1},{"id":"46b807513a93539f","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"7be8d158b0070434","order":9,"width":1,"height":1},{"id":"63b061f985e28f77","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"7be8d158b0070434","order":11,"width":1,"height":1},{"id":"44e9a4666fb38c0b","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"7be8d158b0070434","order":13,"width":1,"height":1},{"id":"5b78dd3097c19764","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"7be8d158b0070434","order":14,"width":1,"height":1},{"id":"7ccce1b8977cc305","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"7be8d158b0070434","order":15,"width":1,"height":1},{"id":"92dac79dd8c4b364","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"7be8d158b0070434","order":16,"width":1,"height":1},{"id":"08ff83dfb0fe2bbd","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"7be8d158b0070434","order":17,"width":1,"height":1},{"id":"6bb685dc6af4212f","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"7be8d158b0070434","order":18,"width":1,"height":1},{"id":"cc803c549883bc7d","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"7be8d158b0070434","order":19,"width":1,"height":1},{"id":"816d435649681457","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"64483a0ae6f0d624","order":1,"width":1,"height":1},{"id":"2549a765a8282e4c","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"64483a0ae6f0d624","order":3,"width":1,"height":1},{"id":"db39647ea6da844f","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"64483a0ae6f0d624","order":4,"width":1,"height":1},{"id":"8d8be289527fe66a","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"64483a0ae6f0d624","order":5,"width":1,"height":1},{"id":"2645e0f4743819c5","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"64483a0ae6f0d624","order":6,"width":1,"height":1},{"id":"1093c5287b48faa3","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"64483a0ae6f0d624","order":7,"width":1,"height":1},{"id":"731bc8c51ad88a6b","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"64483a0ae6f0d624","order":8,"width":1,"height":1},{"id":"a0c18f5b49e2235a","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"64483a0ae6f0d624","order":9,"width":1,"height":1},{"id":"80cab9007b4efe45","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"23d33400bcb95372","order":1,"width":1,"height":1},{"id":"bd7d348480c8c3b3","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"23d33400bcb95372","order":3,"width":1,"height":1},{"id":"20792ff0867a25c3","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"23d33400bcb95372","order":4,"width":1,"height":1},{"id":"4ffa24716407dc17","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"23d33400bcb95372","order":5,"width":1,"height":1},{"id":"09cc8a25526eac41","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"23d33400bcb95372","order":6,"width":1,"height":1},{"id":"31027ec1edc4f4a7","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"23d33400bcb95372","order":7,"width":1,"height":1},{"id":"805a9360adb846e6","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"23d33400bcb95372","order":8,"width":1,"height":1},{"id":"6ea844a4c28dce0c","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"23d33400bcb95372","order":9,"width":1,"height":1},{"id":"a6f4c1d06b859814","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"23d33400bcb95372","order":11,"width":1,"height":1},{"id":"18223cc4741cde77","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"23d33400bcb95372","order":13,"width":1,"height":1},{"id":"52d34414a5f6cebc","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"23d33400bcb95372","order":14,"width":1,"height":1},{"id":"e3db96f617e6921f","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"23d33400bcb95372","order":15,"width":1,"height":1},{"id":"a4683bd9313f7bf8","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"23d33400bcb95372","order":16,"width":1,"height":1},{"id":"4f6088fb4e86e22b","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"23d33400bcb95372","order":17,"width":1,"height":1},{"id":"d00a5c9cd042ad0a","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"23d33400bcb95372","order":18,"width":1,"height":1},{"id":"f0b5106c93035de8","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"23d33400bcb95372","order":19,"width":1,"height":1},{"id":"b742bc6f7c34a4c2","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"5713b076e489f026","order":1,"width":1,"height":1},{"id":"eb9f1f4420fd4346","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"5713b076e489f026","order":3,"width":1,"height":1},{"id":"8de461294f37a05f","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"5713b076e489f026","order":4,"width":1,"height":1},{"id":"3a0db0f4f3dfa4be","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"5713b076e489f026","order":5,"width":1,"height":1},{"id":"b081a5eca4967315","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"5713b076e489f026","order":6,"width":1,"height":1},{"id":"1b8321858fd356b0","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"5713b076e489f026","order":7,"width":1,"height":1},{"id":"e71dc8f9c9748fea","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"5713b076e489f026","order":8,"width":1,"height":1},{"id":"d2d8ef4e8526223d","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"5713b076e489f026","order":9,"width":1,"height":1},{"id":"e398c1de30e0d480","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"5713b076e489f026","order":11,"width":1,"height":1},{"id":"7f7c201d4ade5e8a","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"5713b076e489f026","order":13,"width":1,"height":1},{"id":"47463b75c505c30d","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"5713b076e489f026","order":14,"width":1,"height":1},{"id":"715dc9bff2e54967","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"5713b076e489f026","order":15,"width":1,"height":1},{"id":"664637ed822fc8b8","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"5713b076e489f026","order":16,"width":1,"height":1},{"id":"eaf248ee6d38b4e5","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"5713b076e489f026","order":17,"width":1,"height":1},{"id":"8ff125371899ca31","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"5713b076e489f026","order":18,"width":1,"height":1},{"id":"4fed201998c98edc","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"5713b076e489f026","order":19,"width":1,"height":1},{"id":"b035a096e81371ac","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"6a9c9282d231d3ab","order":7,"width":3,"height":1},{"id":"e24c984aecae5c7d","type":"ui_spacer","z":"7c7dc628.08a158","name":"spacer","group":"6a9c9282d231d3ab","order":12,"width":6,"height":1},{"id":"1963b08228858a58","type":"ui_spacer","z":"ddc83c3f84d60c8e","name":"spacer","group":"4927109389cd5918","order":1,"width":1,"height":1},{"id":"539c5d88e45aa799","type":"ui_spacer","z":"ddc83c3f84d60c8e","name":"spacer","group":"4927109389cd5918","order":3,"width":1,"height":1},{"id":"87c716e66c05aa42","type":"ui_spacer","z":"ddc83c3f84d60c8e","name":"spacer","group":"4927109389cd5918","order":5,"width":1,"height":1},{"id":"95ad01fd5880f56b","type":"ui_spacer","z":"ddc83c3f84d60c8e","name":"spacer","group":"4927109389cd5918","order":6,"width":1,"height":1},{"id":"debdd1cd4f571da8","type":"ui_spacer","z":"ddc83c3f84d60c8e","name":"spacer","group":"4927109389cd5918","order":7,"width":1,"height":1},{"id":"a2d4474e2e3c8b78","type":"ui_spacer","z":"ddc83c3f84d60c8e","name":"spacer","group":"4927109389cd5918","order":8,"width":1,"height":1},{"id":"67722bc2ca884819","type":"ui_spacer","z":"ddc83c3f84d60c8e","name":"spacer","group":"4927109389cd5918","order":9,"width":1,"height":1},{"id":"6d049761382314f5","type":"ui_spacer","z":"ddc83c3f84d60c8e","name":"spacer","group":"4927109389cd5918","order":10,"width":1,"height":1},{"id":"f2fae2d41b242813","type":"ui_spacer","z":"ddc83c3f84d60c8e","name":"spacer","group":"4927109389cd5918","order":11,"width":1,"height":1},{"id":"be759ea3e1a612e1","type":"ui_spacer","z":"ddc83c3f84d60c8e","name":"spacer","group":"4927109389cd5918","order":12,"width":1,"height":1},{"id":"d31d078495f38f85","type":"ui_spacer","z":"ddc83c3f84d60c8e","name":"spacer","group":"4927109389cd5918","order":13,"width":1,"height":1},{"id":"cee365213b75652f","type":"ui_spacer","z":"ddc83c3f84d60c8e","name":"spacer","group":"4927109389cd5918","order":14,"width":1,"height":1},{"id":"bbd5a11b78e54c73","type":"ui_spacer","z":"ddc83c3f84d60c8e","name":"spacer","group":"4927109389cd5918","order":17,"width":5,"height":1},{"id":"83f4586ace04f0e4","type":"ui_gauge","z":"7c7dc628.08a158","name":"","group":"23d33400bcb95372","order":12,"width":4,"height":4,"gtype":"wave","title":"Barometric Pressure","label":"inHg","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1320,"y":480,"wires":[]},{"id":"582ed4d6d3d362a2","type":"ui_gauge","z":"7c7dc628.08a158","name":"","group":"7be8d158b0070434","order":12,"width":4,"height":4,"gtype":"donut","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#40d908","#e6e600","#ca3838"],"seg1":"35","seg2":"70","className":"","x":1280,"y":240,"wires":[]},{"id":"704bdfda1c0b0a0c","type":"ui_gauge","z":"7c7dc628.08a158","name":"","group":"64483a0ae6f0d624","order":2,"width":4,"height":4,"gtype":"donut","title":"Wind Speed","label":"m/s","format":"{{value}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"150","className":"","x":1290,"y":360,"wires":[]},{"id":"bb52c4b30441ad11","type":"ui_gauge","z":"7c7dc628.08a158","name":"","group":"5713b076e489f026","order":12,"width":4,"height":4,"gtype":"compass","title":"Wind Direction","label":"","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1300,"y":640,"wires":[]},{"id":"11a31ae711b8a778","type":"ui_gauge","z":"7c7dc628.08a158","name":"","group":"7be8d158b0070434","order":2,"width":4,"height":4,"gtype":"donut","title":"Temperature","label":"degree","format":"{{value}}","min":"-20","max":"50","colors":["#00ccff","#00e61b","#fa8500"],"seg1":"15","seg2":"25","className":"","x":1290,"y":120,"wires":[]},{"id":"abdc65becfa17a03","type":"ui_chart","z":"7c7dc628.08a158","name":"","group":"7be8d158b0070434","order":20,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1270,"y":200,"wires":[[]]},{"id":"b14e651647449ade","type":"ui_chart","z":"7c7dc628.08a158","name":"","group":"64483a0ae6f0d624","order":10,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"300","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1270,"y":320,"wires":[[]]},{"id":"df9f61adc74488a7","type":"ui_chart","z":"7c7dc628.08a158","name":"","group":"7be8d158b0070434","order":10,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-50","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1270,"y":80,"wires":[[]]},{"id":"316ad8d5dd26a5ae","type":"debug","z":"7c7dc628.08a158","name":"","active":false,"console":"false","complete":"false","x":1290,"y":40,"wires":[]},{"id":"5983af806e064801","type":"function","z":"7c7dc628.08a158","name":"Humidity","func":"function getRandomInt(min, max) {\n\treturn Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\nif (msg.topic) {\n\tmsg.payload = msg.humidity;\n\t// if (msg.payload > 70) {\n\t// \tmsg.payload = msg.payload + getRandomInt(-2, 1)\n\t// }\n\t// else if (msg.payload < ) {\n\t// \tmsg.payload = msg.payload + getRandomInt(-2, 3)\n\t// }\n\t// else {\n\t\tmsg.payload = msg.payload + getRandomInt(-2, 1);\n\t//}\n\treturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":200,"wires":[["20d5c71053d3126c","abdc65becfa17a03","582ed4d6d3d362a2","4c67c6b4e8aa9657"]]},{"id":"20d5c71053d3126c","type":"debug","z":"7c7dc628.08a158","name":"","active":false,"console":"false","complete":"false","x":1290,"y":160,"wires":[]},{"id":"afea0c4e11bd31ae","type":"function","z":"7c7dc628.08a158","name":"CO2","func":"function getRandomInt(min, max) {\n    return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\nif (msg.topic) {\n    msg.payload = msg.carbonDioxine;\n    if (msg.payload > 400) {\n        msg.payload = msg.payload + getRandomInt(-1, 1)\n    }\n    else if (msg.payload < 100) {\n        msg.payload = msg.payload + getRandomInt(-1, 1)\n    }\n    else {\n        msg.payload = msg.payload + getRandomInt(-1, 1);\n    }\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":560,"wires":[["c6f8a37c843f4970","dcb0c11740ae7907","2c6532b5e2627ace","248e02e83aa4072a"]]},{"id":"c6f8a37c843f4970","type":"debug","z":"7c7dc628.08a158","name":"","active":false,"console":"false","complete":"false","x":1290,"y":520,"wires":[]},{"id":"24764c8f30731f8e","type":"function","z":"7c7dc628.08a158","name":"Wind Speed","func":"function getRandomInt(min, max) {\n    return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\nif (msg.topic) {\n    msg.payload = msg.windSpeed;\n    if (msg.payload > 40) {\n        msg.payload = msg.payload + getRandomInt(-2, 1)\n    }\n    else if (msg.payload < -20) {\n        msg.payload = msg.payload + getRandomInt(-2, 3)\n    }\n    else {\n        msg.payload = msg.payload + getRandomInt(-1, 1);\n    }\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":320,"wires":[["eaf1f1d9f0a393d0","b14e651647449ade","704bdfda1c0b0a0c","a32ac091680413ea"]]},{"id":"eaf1f1d9f0a393d0","type":"debug","z":"7c7dc628.08a158","name":"","active":false,"console":"false","complete":"false","x":1290,"y":280,"wires":[]},{"id":"cd3f9f24569f1453","type":"function","z":"7c7dc628.08a158","name":"Barometric Pressure","func":"function getRandomInt(min, max) {\n\treturn Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\nif (msg.topic) {\n\tmsg.payload = msg.barometric;\n\tif (msg.payload > 40) {\n\t\tmsg.payload = msg.payload + getRandomInt(-2, 1)\n\t}\n\telse if (msg.payload < -20) {\n\t\tmsg.payload = msg.payload + getRandomInt(-2, 3)\n\t}\n\telse {\n\t\tmsg.payload = msg.payload + getRandomInt(-1, 1);\n\t}\n\treturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":440,"wires":[["8340d9eff041fab9","83f4586ace04f0e4","6b539b6f32b4d493","b4c79f1b878ccf36"]]},{"id":"8340d9eff041fab9","type":"debug","z":"7c7dc628.08a158","name":"","active":false,"console":"false","complete":"false","x":1290,"y":400,"wires":[]},{"id":"2c6532b5e2627ace","type":"ui_gauge","z":"7c7dc628.08a158","name":"","group":"23d33400bcb95372","order":2,"width":4,"height":4,"gtype":"wave","title":"CO2","label":"PPM","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1270,"y":600,"wires":[]},{"id":"dcb0c11740ae7907","type":"ui_chart","z":"7c7dc628.08a158","name":"","group":"23d33400bcb95372","order":10,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1270,"y":560,"wires":[[]]},{"id":"43823e6391c2d2ac","type":"change","z":"7c7dc628.08a158","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"vlow","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"low","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"moderate","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"high","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"vHigh","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":220,"wires":[["b643c75b637b75dd"]]},{"id":"b42cfde3ec124032","type":"switch","z":"7c7dc628.08a158","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":260,"wires":[["43823e6391c2d2ac"],["fe2e8cda801fc70d"]]},{"id":"160e7427c5bbea0a","type":"inject","z":"7c7dc628.08a158","name":"set label","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":100,"y":500,"wires":[["d491bcc6179e8c1b","fa45caa1389bec91","086bebdd3b3ca32f","40db338e52bf6800","8729b99a3f5fb1de"]]},{"id":"fe2e8cda801fc70d","type":"change","z":"7c7dc628.08a158","name":"start","rules":[{"t":"set","p":"vlow","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"low","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"moderate","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"high","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"vHigh","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":300,"wires":[["b643c75b637b75dd"]]},{"id":"d491bcc6179e8c1b","type":"change","z":"7c7dc628.08a158","name":"set state of button","rules":[{"t":"set","p":"vlow","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":260,"wires":[["b8c5f8b6542951d6"]]},{"id":"aeda8e8872264de5","type":"function","z":"7c7dc628.08a158","name":"Temperature","func":"function getRandomInt(min, max) {\n\treturn Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\nif (msg.topic) {\n\tmsg.payload = msg.temperature;\n\tif (msg.payload > 40) {\n\t\tmsg.payload = msg.payload + getRandomInt(-2, 1)\n\t}\n\telse if (msg.payload < -20) {\n\t\tmsg.payload = msg.payload + getRandomInt(-2, 3)\n\t}\n\telse {\n\t\tmsg.payload = msg.payload + getRandomInt(-1, 1);\n\t}\n\treturn msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":80,"wires":[["df9f61adc74488a7","11a31ae711b8a778","316ad8d5dd26a5ae","eebb1ce7115f33f4"]]},{"id":"fa3aef6645e654bc","type":"link out","z":"7c7dc628.08a158","name":"link out 1","mode":"link","links":["41919188947ac19f","bffbf5c2c9ae4c68","e75efc538c0e4e0a","95f8618cd0e0177c","e7e8f489937dbba1","0e772d05b2c9efa1","0699a19874885328","40e49f61f0a39d52","4ba95263192e9518","0639f0e9eba470bc","0ae92c67e5f6cc98","7122d327c6d82dd5","6a0d75758106019e","6097c3b2fb8edfb9"],"x":365,"y":100,"wires":[]},{"id":"41919188947ac19f","type":"link in","z":"7c7dc628.08a158","name":"link in 1","links":["fa3aef6645e654bc"],"x":965,"y":80,"wires":[["aeda8e8872264de5"]]},{"id":"bffbf5c2c9ae4c68","type":"link in","z":"7c7dc628.08a158","name":"link in 2","links":["fa3aef6645e654bc"],"x":985,"y":200,"wires":[["5983af806e064801"]]},{"id":"e75efc538c0e4e0a","type":"link in","z":"7c7dc628.08a158","name":"link in 3","links":["fa3aef6645e654bc"],"x":965,"y":320,"wires":[["24764c8f30731f8e"]]},{"id":"95f8618cd0e0177c","type":"link in","z":"7c7dc628.08a158","name":"link in 4","links":["fa3aef6645e654bc"],"x":905,"y":440,"wires":[["cd3f9f24569f1453"]]},{"id":"0e772d05b2c9efa1","type":"link in","z":"7c7dc628.08a158","name":"link in 6","links":["fa3aef6645e654bc"],"x":1005,"y":560,"wires":[["afea0c4e11bd31ae"]]},{"id":"fbac0e922622ed4b","type":"inject","z":"7c7dc628.08a158","name":"Low","props":[{"p":"payload"},{"p":"topic","v":"low","vt":"flow"},{"p":"temperature","v":"20","vt":"num"},{"p":"humidity","v":"50","vt":"num"},{"p":"windSpeed","v":"20","vt":"num"},{"p":"barometric","v":"20","vt":"num"},{"p":"carbonDioxine","v":"150","vt":"num"},{"p":"windDirection","v":"110","vt":"num"},{"p":"rain","v":"5","vt":"num"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":80,"wires":[["fa3aef6645e654bc"]]},{"id":"5d5183608dccc483","type":"inject","z":"7c7dc628.08a158","name":"Moderate","props":[{"p":"payload"},{"p":"topic","v":"moderate","vt":"flow"},{"p":"temperature","v":"25","vt":"num"},{"p":"humidity","v":"40","vt":"num"},{"p":"windSpeed","v":"20","vt":"num"},{"p":"barometric","v":"20","vt":"num"},{"p":"carbonDioxine","v":"150","vt":"num"},{"p":"windDirection","v":"140","vt":"num"},{"p":"rain","v":"3","vt":"num"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":120,"wires":[["fa3aef6645e654bc"]]},{"id":"10e5576b166219ce","type":"inject","z":"7c7dc628.08a158","name":"High","props":[{"p":"payload"},{"p":"topic","v":"high","vt":"flow"},{"p":"temperature","v":"35","vt":"num"},{"p":"humidity","v":"30","vt":"num"},{"p":"windSpeed","v":"20","vt":"num"},{"p":"barometric","v":"20","vt":"num"},{"p":"carbonDioxine","v":"150","vt":"num"},{"p":"windDirection","v":"200","vt":"num"},{"p":"rain","v":"0","vt":"num"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":160,"wires":[["fa3aef6645e654bc"]]},{"id":"046c29081749ab42","type":"inject","z":"7c7dc628.08a158","name":"Very High","props":[{"p":"payload"},{"p":"topic","v":"vHigh","vt":"flow"},{"p":"temperature","v":"38","vt":"num"},{"p":"humidity","v":"25","vt":"num"},{"p":"windSpeed","v":"23","vt":"num"},{"p":"barometric","v":"20","vt":"num"},{"p":"carbonDioxine","v":"150","vt":"num"},{"p":"windDirection","v":"360","vt":"num"},{"p":"rain","v":"0","vt":"num"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":200,"wires":[["fa3aef6645e654bc"]]},{"id":"a2b7f420fe6114ac","type":"inject","z":"7c7dc628.08a158","name":"Very Low","props":[{"p":"payload"},{"p":"topic","v":"vlow","vt":"flow"},{"p":"temperature","v":"15","vt":"num"},{"p":"humidity","v":"60","vt":"num"},{"p":"windSpeed","v":"5","vt":"num"},{"p":"barometric","v":"20","vt":"num"},{"p":"carbonDioxine","v":"150","vt":"num"},{"p":"windDirection","v":"100","vt":"num"},{"p":"rain","v":"10","vt":"num"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":40,"wires":[["fa3aef6645e654bc"]]},{"id":"90f8a1bb899e2e3a","type":"function","z":"7c7dc628.08a158","name":"Rainfall","func":"function getRandomInt(min, max) {\n    return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\nif (msg.topic) {\n    msg.payload = msg.rain;\n    if (msg.payload > 400) {\n        msg.payload = msg.payload + getRandomInt(-1, 1)\n    }\n    else if (msg.payload < 100) {\n        msg.payload = msg.payload + getRandomInt(-1, 1)\n    }\n    else {\n        msg.payload = msg.payload + getRandomInt(-1, 1);\n    }\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":720,"wires":[["e9f8723b4ef2598a","9caac20d3eba03c7","9eb8eda07e03bbb1"]]},{"id":"c5739608531faf05","type":"debug","z":"7c7dc628.08a158","name":"","active":false,"console":"false","complete":"false","x":1290,"y":680,"wires":[]},{"id":"9caac20d3eba03c7","type":"ui_gauge","z":"7c7dc628.08a158","name":"","group":"5713b076e489f026","order":2,"width":4,"height":4,"gtype":"wave","title":"Rainfall","label":"mm","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1280,"y":760,"wires":[]},{"id":"e9f8723b4ef2598a","type":"ui_chart","z":"7c7dc628.08a158","name":"","group":"5713b076e489f026","order":10,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1270,"y":720,"wires":[[]]},{"id":"4ba95263192e9518","type":"link in","z":"7c7dc628.08a158","name":"link in 8","links":["fa3aef6645e654bc"],"x":985,"y":720,"wires":[["90f8a1bb899e2e3a"]]},{"id":"b643c75b637b75dd","type":"ui_led","z":"7c7dc628.08a158","order":2,"group":"6a9c9282d231d3ab","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":750,"y":260,"wires":[]},{"id":"b8c5f8b6542951d6","type":"ui_button","z":"7c7dc628.08a158","name":"","group":"6a9c9282d231d3ab","order":1,"width":2,"height":1,"passthru":true,"label":"Very Low","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"vlow","payloadType":"flow","topic":"topic","topicType":"msg","x":460,"y":260,"wires":[["b42cfde3ec124032"]]},{"id":"e97ecd09447ab241","type":"switch","z":"7c7dc628.08a158","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":380,"wires":[["dbb760283bd8ce34"],["e1dd00cc9ed331f5"]]},{"id":"e1dd00cc9ed331f5","type":"change","z":"7c7dc628.08a158","name":"start","rules":[{"t":"set","p":"low","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":420,"wires":[["f5a215a089402c3b"]]},{"id":"fa45caa1389bec91","type":"change","z":"7c7dc628.08a158","name":"set state of button","rules":[{"t":"set","p":"low","pt":"flow","to":"true","tot":"bool","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":380,"wires":[["febeeaf27c8993da"]]},{"id":"f5a215a089402c3b","type":"ui_led","z":"7c7dc628.08a158","order":4,"group":"6a9c9282d231d3ab","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":750,"y":380,"wires":[]},{"id":"febeeaf27c8993da","type":"ui_button","z":"7c7dc628.08a158","name":"","group":"6a9c9282d231d3ab","order":3,"width":2,"height":1,"passthru":true,"label":"Low","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"low","payloadType":"flow","topic":"topic","topicType":"msg","x":450,"y":380,"wires":[["e97ecd09447ab241"]]},{"id":"a9e6439d40e65dc8","type":"switch","z":"7c7dc628.08a158","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":500,"wires":[["88ddda83de1649b1"],["d657816ee0307775"]]},{"id":"d657816ee0307775","type":"change","z":"7c7dc628.08a158","name":"start","rules":[{"t":"set","p":"moderate","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":540,"wires":[["45e5d08a58212624"]]},{"id":"086bebdd3b3ca32f","type":"change","z":"7c7dc628.08a158","name":"set state of button","rules":[{"t":"set","p":"moderate","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":500,"wires":[["c8c5eb95890031aa"]]},{"id":"45e5d08a58212624","type":"ui_led","z":"7c7dc628.08a158","order":6,"group":"6a9c9282d231d3ab","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":750,"y":500,"wires":[]},{"id":"c8c5eb95890031aa","type":"ui_button","z":"7c7dc628.08a158","name":"","group":"6a9c9282d231d3ab","order":5,"width":2,"height":1,"passthru":true,"label":"Moderate","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"moderate","payloadType":"flow","topic":"topic","topicType":"msg","x":460,"y":500,"wires":[["a9e6439d40e65dc8"]]},{"id":"48dabbf4c03df824","type":"switch","z":"7c7dc628.08a158","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":620,"wires":[["499a7fa6719a1df8"],["60a4fc090b20790f"]]},{"id":"60a4fc090b20790f","type":"change","z":"7c7dc628.08a158","name":"start","rules":[{"t":"set","p":"high","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":660,"wires":[["ca708eba4857ad63"]]},{"id":"40db338e52bf6800","type":"change","z":"7c7dc628.08a158","name":"set state of button","rules":[{"t":"set","p":"high","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":620,"wires":[["d3583d7a081ceca6"]]},{"id":"ca708eba4857ad63","type":"ui_led","z":"7c7dc628.08a158","order":9,"group":"6a9c9282d231d3ab","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":750,"y":620,"wires":[]},{"id":"d3583d7a081ceca6","type":"ui_button","z":"7c7dc628.08a158","name":"","group":"6a9c9282d231d3ab","order":8,"width":2,"height":1,"passthru":true,"label":"High","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"high","payloadType":"flow","topic":"topic","topicType":"msg","x":450,"y":620,"wires":[["48dabbf4c03df824"]]},{"id":"a515998a0498de48","type":"switch","z":"7c7dc628.08a158","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":740,"wires":[["3ba57d406fd4bee4"],["c2ab59bc3b192404"]]},{"id":"c2ab59bc3b192404","type":"change","z":"7c7dc628.08a158","name":"start","rules":[{"t":"set","p":"vHigh","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":780,"wires":[["994cc8f30ad861cc"]]},{"id":"8729b99a3f5fb1de","type":"change","z":"7c7dc628.08a158","name":"set state of button","rules":[{"t":"set","p":"vHigh","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":740,"wires":[["4b9268dc389efafb"]]},{"id":"994cc8f30ad861cc","type":"ui_led","z":"7c7dc628.08a158","order":11,"group":"6a9c9282d231d3ab","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":750,"y":740,"wires":[]},{"id":"4b9268dc389efafb","type":"ui_button","z":"7c7dc628.08a158","name":"","group":"6a9c9282d231d3ab","order":10,"width":2,"height":1,"passthru":true,"label":"Very High","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"vHigh","payloadType":"flow","topic":"topic","topicType":"msg","x":460,"y":740,"wires":[["a515998a0498de48"]]},{"id":"dbb760283bd8ce34","type":"change","z":"7c7dc628.08a158","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"vlow","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"low","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"moderate","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"high","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"vHigh","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":340,"wires":[["f5a215a089402c3b"]]},{"id":"88ddda83de1649b1","type":"change","z":"7c7dc628.08a158","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"vlow","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"low","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"moderate","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"high","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"vHigh","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":460,"wires":[["45e5d08a58212624"]]},{"id":"499a7fa6719a1df8","type":"change","z":"7c7dc628.08a158","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"vlow","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"low","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"moderate","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"high","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"vHigh","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":580,"wires":[["ca708eba4857ad63"]]},{"id":"3ba57d406fd4bee4","type":"change","z":"7c7dc628.08a158","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"vlow","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"low","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"moderate","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"high","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"vHigh","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":700,"wires":[["994cc8f30ad861cc"]]},{"id":"6b539b6f32b4d493","type":"ui_chart","z":"7c7dc628.08a158","name":"","group":"23d33400bcb95372","order":20,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1270,"y":440,"wires":[[]]},{"id":"3e15222f6beccfb4","type":"function","z":"7c7dc628.08a158","name":"Wind Direction","func":"if (msg.topic) {\n    msg.payload = msg.windDirection;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":640,"wires":[["bb52c4b30441ad11","c5739608531faf05","d87133dbbb474bea"]]},{"id":"0639f0e9eba470bc","type":"link in","z":"7c7dc628.08a158","name":"link in 9","links":["fa3aef6645e654bc"],"x":935,"y":640,"wires":[["3e15222f6beccfb4"]]},{"id":"3c1f6d7c6257f93b","type":"comment","z":"7c7dc628.08a158","name":"Simulate Forest IoT Sensors","info":"","x":720,"y":20,"wires":[]},{"id":"a6b4988eb88da972","type":"json","z":"7c7dc628.08a158","name":"","property":"payload","action":"","pretty":false,"x":1710,"y":380,"wires":[[]]},{"id":"9e19ce2e297c6a7c","type":"function","z":"7c7dc628.08a158","name":"function 2","func":"var forestData = {\n    \"temperature\": msg.temperature,\n    \"humidity\": msg.humidity,\n    \"windSpeed\": msg.windSpeed,\n    \"barometric\": msg.barometric,\n    \"carbonDioxine\": msg.carbonDioxine,\n    \"windDirection\": msg.windDirection,\n    \"rain\": msg.rain,\n    \"fireAlert\": msg.fireAlert\n};\nnode.log(typeof forestData);\nmsg.payload = forestData;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1540,"y":380,"wires":[["a6b4988eb88da972","7d064b112ef19c6c"]]},{"id":"7d064b112ef19c6c","type":"debug","z":"7c7dc628.08a158","name":"debug 12","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1540,"y":420,"wires":[]},{"id":"eebb1ce7115f33f4","type":"link out","z":"7c7dc628.08a158","name":"link out 3","mode":"link","links":["220d2ed025a2071c"],"x":1135,"y":120,"wires":[]},{"id":"220d2ed025a2071c","type":"link in","z":"7c7dc628.08a158","name":"link in 11","links":["eebb1ce7115f33f4","4c67c6b4e8aa9657","a32ac091680413ea","b4c79f1b878ccf36","248e02e83aa4072a","97cb1dfb50cd0114","d87133dbbb474bea","9eb8eda07e03bbb1","b4c7db9b8a61acf1"],"x":1435,"y":380,"wires":[["9e19ce2e297c6a7c"]]},{"id":"4c67c6b4e8aa9657","type":"link out","z":"7c7dc628.08a158","name":"link out 4","mode":"link","links":["220d2ed025a2071c"],"x":1135,"y":240,"wires":[]},{"id":"a32ac091680413ea","type":"link out","z":"7c7dc628.08a158","name":"link out 5","mode":"link","links":["220d2ed025a2071c"],"x":1135,"y":360,"wires":[]},{"id":"b4c79f1b878ccf36","type":"link out","z":"7c7dc628.08a158","name":"link out 6","mode":"link","links":["220d2ed025a2071c"],"x":1135,"y":480,"wires":[]},{"id":"248e02e83aa4072a","type":"link out","z":"7c7dc628.08a158","name":"link out 7","mode":"link","links":["220d2ed025a2071c"],"x":1135,"y":600,"wires":[]},{"id":"d87133dbbb474bea","type":"link out","z":"7c7dc628.08a158","name":"link out 9","mode":"link","links":["220d2ed025a2071c"],"x":1145,"y":680,"wires":[]},{"id":"9eb8eda07e03bbb1","type":"link out","z":"7c7dc628.08a158","name":"link out 10","mode":"link","links":["220d2ed025a2071c"],"x":1145,"y":760,"wires":[]},{"id":"e4466c03bd27129c","type":"ui_text","z":"7c7dc628.08a158","group":"6a9c9282d231d3ab","order":14,"width":5,"height":1,"name":"","label":"ALERT: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":1900,"y":500,"wires":[]},{"id":"65fd2eb2e01f4732","type":"debug","z":"7c7dc628.08a158","name":"","active":true,"console":"false","complete":"false","x":1730,"y":600,"wires":[]},{"id":"feb267e256fc7637","type":"mqtt in","z":"7c7dc628.08a158","name":"","topic":"forest/iot/alert","qos":"2","datatype":"auto-detect","broker":"64ebfcdfc44fcd46","nl":false,"rap":true,"rh":0,"inputs":0,"x":1550,"y":580,"wires":[["65fd2eb2e01f4732","f63f07eef55922f9"]]},{"id":"43a8044cca6615a2","type":"ui_led","z":"7c7dc628.08a158","order":15,"group":"6a9c9282d231d3ab","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"FIRE DETECTED","valueType":"str"},{"color":"#808080","value":"FIRE NOT DETECTED","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1890,"y":540,"wires":[]},{"id":"48d52b167b2d53c6","type":"comment","z":"7c7dc628.08a158","name":"Simulate Forest Fire Detection","info":"","x":1680,"y":280,"wires":[]},{"id":"4e6d8573e31f14a8","type":"comment","z":"7c7dc628.08a158","name":"Activate Warning","info":"","x":1640,"y":480,"wires":[]},{"id":"f63f07eef55922f9","type":"function","z":"7c7dc628.08a158","name":"alert","func":"if (msg.topic) {\n    msg.payload = msg.payload.sensor;\n    if (msg.payload == \"FIRE_ON\") {\n        msg.payload = \"FIRE DETECTED\";\n    }\n    else if (msg.payload == \"FIRE_OFF\") {\n        msg.payload = \"FIRE NOT DETECTED\";\n    }\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1710,"y":520,"wires":[["e4466c03bd27129c","43a8044cca6615a2"]]},{"id":"2eab2a4b85633436","type":"mqtt out","z":"7c7dc628.08a158","name":"","topic":"forest/iot/sensors","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"64ebfcdfc44fcd46","x":1790,"y":680,"wires":[]},{"id":"66bec6778936acd5","type":"inject","z":"7c7dc628.08a158","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"sensor\":\"FIRE_ON\",\"position\":[47.397606,8.543060]}","payloadType":"json","x":1510,"y":680,"wires":[["2eab2a4b85633436"]]},{"id":"db1f6eca6d033798","type":"mqtt in","z":"ddc83c3f84d60c8e","name":"","topic":"drone","qos":"2","datatype":"auto-detect","broker":"64ebfcdfc44fcd46","nl":false,"rap":true,"rh":0,"inputs":0,"x":510,"y":140,"wires":[["781529a812b65961","a36847af0205c9d8","8ece3f8d262cb9f9","44a4f85f1bdb1bed"]]},{"id":"781529a812b65961","type":"debug","z":"ddc83c3f84d60c8e","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":100,"wires":[]},{"id":"fbfce9e6ed95233c","type":"mqtt in","z":"ddc83c3f84d60c8e","name":"","topic":"battery","qos":"2","datatype":"auto-detect","broker":"64ebfcdfc44fcd46","nl":false,"rap":true,"rh":0,"inputs":0,"x":510,"y":260,"wires":[["1262dab87f62aef5","48b3b5b0b3584e14"]]},{"id":"48b3b5b0b3584e14","type":"debug","z":"ddc83c3f84d60c8e","name":"debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":300,"wires":[]},{"id":"6fd298b828914667","type":"mqtt in","z":"ddc83c3f84d60c8e","name":"","topic":"gps","qos":"2","datatype":"auto-detect","broker":"64ebfcdfc44fcd46","nl":false,"rap":true,"rh":0,"inputs":0,"x":510,"y":940,"wires":[["66489ac435643709","84befa84fedb381f"]]},{"id":"66489ac435643709","type":"debug","z":"ddc83c3f84d60c8e","name":"debug 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":980,"wires":[]},{"id":"24e4d8eb3b928361","type":"mqtt in","z":"ddc83c3f84d60c8e","name":"","topic":"inAir","qos":"2","datatype":"auto-detect","broker":"64ebfcdfc44fcd46","nl":false,"rap":true,"rh":0,"inputs":0,"x":510,"y":860,"wires":[["27e772b2fd250b50","4c85c3eab159475b"]]},{"id":"27e772b2fd250b50","type":"debug","z":"ddc83c3f84d60c8e","name":"debug 4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":880,"wires":[]},{"id":"a0e0f367688bebf9","type":"mqtt in","z":"ddc83c3f84d60c8e","name":"","topic":"position","qos":"2","datatype":"auto-detect","broker":"64ebfcdfc44fcd46","nl":false,"rap":true,"rh":0,"inputs":0,"x":510,"y":460,"wires":[["74402e34e6f4895d","376dbcaf3091175b"]]},{"id":"74402e34e6f4895d","type":"debug","z":"ddc83c3f84d60c8e","name":"debug 6","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":520,"wires":[]},{"id":"5e9913c095e60359","type":"mqtt in","z":"ddc83c3f84d60c8e","name":"","topic":"health","qos":"2","datatype":"auto-detect","broker":"64ebfcdfc44fcd46","nl":false,"rap":true,"rh":0,"inputs":0,"x":510,"y":680,"wires":[["3b6f39fd12abed65","43d751f26746804e"]]},{"id":"3b6f39fd12abed65","type":"debug","z":"ddc83c3f84d60c8e","name":"debug 7","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":760,"wires":[]},{"id":"1262dab87f62aef5","type":"function","z":"ddc83c3f84d60c8e","name":"Battery","func":"var msg1 = { payload: parseInt((msg.payload.battery_info)*100) };\nvar msg2 = { payload: msg.payload.battery_id };\nvar msg3 = { payload: parseInt(msg.payload.battery_voltage_v) };\nreturn [msg1, msg2, msg3];","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":260,"wires":[["63abface34c3623c"],[],["6dd7a0f67ac53ed4"]]},{"id":"a36847af0205c9d8","type":"ui_led","z":"ddc83c3f84d60c8e","order":16,"group":"4927109389cd5918","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"notConnected","valueType":"str"},{"color":"#008000","value":"Connected","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":810,"y":140,"wires":[]},{"id":"3551697d4e1d6a4a","type":"comment","z":"ddc83c3f84d60c8e","name":"MQTT in from NUCLIO to start Drone Mission","info":"","x":210,"y":40,"wires":[]},{"id":"de182e3ac8f19ddc","type":"comment","z":"ddc83c3f84d60c8e","name":"Drone Dashboard","info":"","x":540,"y":40,"wires":[]},{"id":"a728c35a.c1429","type":"template","z":"ddc83c3f84d60c8e","name":"Add Map to Dashboard","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src={{{payload.url}}} height=750px width=1000px ></iframe>","x":550,"y":1060,"wires":[["347e393a.d67736"]]},{"id":"d720d4e.7019e28","type":"comment","z":"ddc83c3f84d60c8e","name":"One time - Add Map to Dashboard","info":"","x":180,"y":1020,"wires":[]},{"id":"9479465b.ea08c8","type":"inject","z":"ddc83c3f84d60c8e","name":"Init WorldMap","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"true","payloadType":"bool","x":130,"y":1060,"wires":[["ad2c3d03.9a2be"]]},{"id":"ad2c3d03.9a2be","type":"function","z":"ddc83c3f84d60c8e","name":"Inject /worldmap","func":"msg.payload =   {\n                url : \"/worldmap\",\n                command : {\n                        layer:\"Esri Satellite\",\n                        lat:40.825599,\n                        lon:15.274523,\n                        zoom:3,\n                        map: { name: \"Esri Satellite\" },\n                        addtoheatmap:true, \n                        autopan:true\n                        }\n                };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":1060,"wires":[["a728c35a.c1429"]]},{"id":"dd2e157f9b3b3633","type":"function","z":"ddc83c3f84d60c8e","name":"function 1","func":"let latitude = flow.get(\"latitude\");\nlet longitude = flow.get(\"longitude\");\n\nmsg.payload = { \"message\": \"success\", \"drone_position\": { \"latitude\": latitude, \"longitude\": longitude }, \"timestamp\": 1662468782 }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1180,"wires":[["540cc34e57fe4e9c","70b186293714632b"]]},{"id":"540cc34e57fe4e9c","type":"debug","z":"ddc83c3f84d60c8e","name":"debug 11","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":1140,"wires":[]},{"id":"3ce3f08385b6576e","type":"change","z":"ddc83c3f84d60c8e","name":"","rules":[{"t":"set","p":"latitude","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":1160,"wires":[["dd2e157f9b3b3633"]]},{"id":"c8861086751bc030","type":"change","z":"ddc83c3f84d60c8e","name":"","rules":[{"t":"set","p":"longitude","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1200,"wires":[["dd2e157f9b3b3633"]]},{"id":"3499e2ee1c3f3658","type":"ui_slider","z":"ddc83c3f84d60c8e","name":"","label":"latitude","tooltip":"","group":"4927109389cd5918","order":32,"width":5,"height":1,"passthru":true,"outs":"all","topic":"latitude","topicType":"flow","min":"-90","max":"90","step":"0.00001","className":"","x":100,"y":1160,"wires":[["3ce3f08385b6576e"]]},{"id":"12958aa28db59c03","type":"ui_slider","z":"ddc83c3f84d60c8e","name":"","label":"longitude","tooltip":"","group":"4927109389cd5918","order":33,"width":6,"height":1,"passthru":true,"outs":"all","topic":"longitude","topicType":"flow","min":"-180","max":"180","step":"0.00001","className":"","x":100,"y":1200,"wires":[["c8861086751bc030"]]},{"id":"2a0cd5b4bec9a71b","type":"comment","z":"ddc83c3f84d60c8e","name":"Control drone manually","info":"","x":140,"y":1120,"wires":[]},{"id":"347e393a.d67736","type":"ui_template","z":"ddc83c3f84d60c8e","group":"dcb5afc7d4b5d1ec","name":"Embedded Map","order":1,"width":20,"height":15,"format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":820,"y":1060,"wires":[[]]},{"id":"8ece3f8d262cb9f9","type":"ui_text","z":"ddc83c3f84d60c8e","group":"4927109389cd5918","order":15,"width":5,"height":1,"name":"","label":"Drone Status: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":840,"y":180,"wires":[]},{"id":"c3e195e988823ef5","type":"ui_text","z":"ddc83c3f84d60c8e","group":"4927109389cd5918","order":20,"width":5,"height":1,"name":"","label":"GPS info: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":820,"y":920,"wires":[]},{"id":"4c85c3eab159475b","type":"ui_text","z":"ddc83c3f84d60c8e","group":"4927109389cd5918","order":18,"width":5,"height":1,"name":"","label":"Is the drone in air: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":850,"y":860,"wires":[]},{"id":"464462086cf2ae5a","type":"ui_text","z":"ddc83c3f84d60c8e","group":"4927109389cd5918","order":24,"width":5,"height":1,"name":"","label":"Latitude: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":820,"y":340,"wires":[]},{"id":"f466bc4cde70184c","type":"ui_text","z":"ddc83c3f84d60c8e","group":"4927109389cd5918","order":31,"width":6,"height":1,"name":"","label":"Is gyrometer calibrated: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":870,"y":580,"wires":[]},{"id":"63abface34c3623c","type":"ui_gauge","z":"ddc83c3f84d60c8e","name":"","group":"4927109389cd5918","order":4,"width":4,"height":4,"gtype":"gage","title":"Battery","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#b30000","#e6e600","#00b500"],"seg1":"50","seg2":"70","className":"","x":820,"y":220,"wires":[]},{"id":"6dd7a0f67ac53ed4","type":"ui_gauge","z":"ddc83c3f84d60c8e","name":"","group":"4927109389cd5918","order":2,"width":4,"height":4,"gtype":"gage","title":"Battery Voltage","label":"V","format":"{{value}}","min":0,"max":"100","colors":["#b30000","#e6e600","#00b500"],"seg1":"50","seg2":"70","className":"","x":840,"y":300,"wires":[]},{"id":"376dbcaf3091175b","type":"function","z":"ddc83c3f84d60c8e","name":"Position","func":"var latitude = { payload: parseFloat(msg.payload.position_latitude).toFixed(5) };\nvar longitude = { payload: parseFloat(msg.payload.position_longitude).toFixed(5) };\nvar position_absolute_alt = { payload: parseFloat(msg.payload.position_absolute_alt).toFixed(2) };\nvar position_relative_alt = { payload: parseFloat(msg.payload.position_relative_alt).toFixed(2) };\nreturn [latitude, longitude, position_absolute_alt, position_relative_alt];\n\n\n","outputs":4,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":460,"wires":[["464462086cf2ae5a","c7e81206d37a529a"],["186277c313c20204","84cb9cc779da0fbf"],["c458ca77ae98efe0"],["9d956b94c2b83daa"]]},{"id":"186277c313c20204","type":"ui_text","z":"ddc83c3f84d60c8e","group":"4927109389cd5918","order":26,"width":5,"height":1,"name":"","label":"Longitude: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":830,"y":380,"wires":[]},{"id":"c458ca77ae98efe0","type":"ui_text","z":"ddc83c3f84d60c8e","group":"4927109389cd5918","order":28,"width":5,"height":1,"name":"","label":"Absolute altitude: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":850,"y":500,"wires":[]},{"id":"9d956b94c2b83daa","type":"ui_text","z":"ddc83c3f84d60c8e","group":"4927109389cd5918","order":30,"width":5,"height":1,"name":"","label":"Relative altitude: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":850,"y":540,"wires":[]},{"id":"e13a29549b9d0a60","type":"ui_text","z":"ddc83c3f84d60c8e","group":"4927109389cd5918","order":29,"width":6,"height":1,"name":"","label":"Is accelerometer calibrated: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":880,"y":620,"wires":[]},{"id":"520dd5b82b7a3af5","type":"ui_text","z":"ddc83c3f84d60c8e","group":"4927109389cd5918","order":19,"width":6,"height":1,"name":"","label":"Is magnetometer calibrated: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":880,"y":660,"wires":[]},{"id":"8677c8dcb5bc715f","type":"ui_text","z":"ddc83c3f84d60c8e","group":"4927109389cd5918","order":21,"width":6,"height":1,"name":"","label":"Is the local position set: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":870,"y":700,"wires":[]},{"id":"0ec5f752fb113e7d","type":"ui_text","z":"ddc83c3f84d60c8e","group":"4927109389cd5918","order":23,"width":6,"height":1,"name":"","label":"Is the global position set: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":870,"y":740,"wires":[]},{"id":"6137ecb8502301fe","type":"ui_text","z":"ddc83c3f84d60c8e","group":"4927109389cd5918","order":25,"width":6,"height":1,"name":"","label":"Is the home position set: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":870,"y":780,"wires":[]},{"id":"161c11ee64331cac","type":"ui_text","z":"ddc83c3f84d60c8e","group":"4927109389cd5918","order":27,"width":6,"height":1,"name":"","label":"Is the drone armed: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":850,"y":820,"wires":[]},{"id":"43d751f26746804e","type":"function","z":"ddc83c3f84d60c8e","name":"Health","func":"var health_gc = { payload: msg.payload.health_gc };\nvar health_ac = { payload: msg.payload.health_ac };\nvar health_mc = { payload: msg.payload.health_mc };\nvar health_lp = { payload: msg.payload.health_lp };\nvar health_gp = { payload: msg.payload.health_gp };\nvar health_hp = { payload: msg.payload.health_hp };\nvar health_ia = { payload: msg.payload.health_ia };\n\nreturn [health_gc, health_ac, health_mc, health_lp, health_gp, health_hp, health_ia];\n\n\n","outputs":7,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":680,"wires":[["f466bc4cde70184c"],["e13a29549b9d0a60"],["520dd5b82b7a3af5"],["8677c8dcb5bc715f"],["0ec5f752fb113e7d"],["6137ecb8502301fe"],["161c11ee64331cac"]]},{"id":"84befa84fedb381f","type":"function","z":"ddc83c3f84d60c8e","name":"GPS","func":"var gps_info = { payload: msg.payload.gps_info };\nvar fix_type = { payload: msg.payload.fix_type };\n\nreturn [gps_info, fix_type];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":940,"wires":[["c3e195e988823ef5"],["ca76bfd215c151d2"]]},{"id":"ca76bfd215c151d2","type":"ui_text","z":"ddc83c3f84d60c8e","group":"4927109389cd5918","order":22,"width":5,"height":1,"name":"","label":"Fix type: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":820,"y":960,"wires":[]},{"id":"88797856.1dede8","type":"function","z":"ddc83c3f84d60c8e","name":"Extract Coordinate","func":"//var iss_location = msg.payload.iss_position;\n //let latitude = { payload: parseFloat(msg.payload.position_latitude).toFixed(3) };\n //let longitude = { payload: parseFloat(msg.payload.position_longitude).toFixed(3) };\n let latitude = flow.get(\"latitude\");\n let longitude = flow.get(\"longitude\");\n\nmsg.payload = { \n        name : \"Drone\",\n        lat  : latitude,\n        lon  : longitude,\n        icon:\"uav\",\n        //icon: \"fa- solid fa - shuttle - space\",\n        iconColor:'#059000',\n        //command : { \"zoom\" : 3 }\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":440,"wires":[["ce09ee81.f288b","d9bb1570.f3c058"]]},{"id":"ce09ee81.f288b","type":"worldmap","z":"ddc83c3f84d60c8e","name":"","lat":"","lon":"","zoom":"","layer":"EsriS","cluster":"3","maxage":"","usermenu":"show","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"true","allowFileDrop":"true","path":"","overlist":"DR,CO,RA,DN,BU,RW,SN,AC,TL,HM","maplist":"OSMG,OSMC,OSMH,EsriC,EsriS,EsriT,EsriO,EsriDG,NatGeo,UKOS,OpTop,HB,AN,ST,SW","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":1290,"y":440,"wires":[]},{"id":"d9bb1570.f3c058","type":"worldmap-tracks","z":"ddc83c3f84d60c8e","name":"","depth":"20","smooth":true,"x":1250,"y":400,"wires":[["ce09ee81.f288b"]]},{"id":"c7e81206d37a529a","type":"change","z":"ddc83c3f84d60c8e","name":"","rules":[{"t":"set","p":"latitude","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":420,"wires":[["88797856.1dede8"]]},{"id":"84cb9cc779da0fbf","type":"change","z":"ddc83c3f84d60c8e","name":"","rules":[{"t":"set","p":"longitude","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":460,"wires":[["88797856.1dede8"]]},{"id":"854255a9.3272a8","type":"comment","z":"ddc83c3f84d60c8e","name":"Query the location of the drone","info":"","x":1090,"y":360,"wires":[]},{"id":"70b186293714632b","type":"link out","z":"ddc83c3f84d60c8e","name":"link out 2","mode":"link","links":["e6e2b9f573f9164c"],"x":645,"y":1180,"wires":[]},{"id":"e6e2b9f573f9164c","type":"link in","z":"ddc83c3f84d60c8e","name":"link in 10","links":["70b186293714632b"],"x":975,"y":480,"wires":[["88797856.1dede8"]]},{"id":"7de88e3cb1d6da64","type":"ui_button","z":"ddc83c3f84d60c8e","name":"","group":"4927109389cd5918","order":34,"width":5,"height":1,"passthru":true,"label":"Survey","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"SURVEY","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":80,"wires":[["5680a3c6c6e390a8","01691f053d149c18"]]},{"id":"5680a3c6c6e390a8","type":"mqtt out","z":"ddc83c3f84d60c8e","name":"","topic":"survey","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"64ebfcdfc44fcd46","x":270,"y":80,"wires":[]},{"id":"01691f053d149c18","type":"ui_text","z":"ddc83c3f84d60c8e","group":"4927109389cd5918","order":35,"width":6,"height":1,"name":"","label":"Survey","format":"{{msg.payload}}","layout":"row-left","className":"","x":270,"y":140,"wires":[]},{"id":"44a4f85f1bdb1bed","type":"ui_audio","z":"ddc83c3f84d60c8e","name":"","group":"dcb5afc7d4b5d1ec","voice":"","always":"","x":820,"y":60,"wires":[]}]