node-RED/flows.json
[{"id":"45a27c13dc50feef","type":"tab","label":"Forest IoT Sensors","disabled":false,"info":""},{"id":"d0cef6fef362f428","type":"tab","label":"Forest Dashboard","disabled":false,"info":"","env":[]},{"id":"ddc83c3f84d60c8e","type":"tab","label":"Drone Dashboard","disabled":false,"info":"","env":[]},{"id":"e61606508ebe963d","type":"ui_tab","name":"Sensors","icon":"","disabled":false,"hidden":false},{"id":"7be8d158b0070434","type":"ui_group","name":"Temperature / Humidity","tab":"e61606508ebe963d","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"6a9c9282d231d3ab","type":"ui_group","name":"Control","tab":"e61606508ebe963d","order":5,"disp":true,"width":6,"collapse":false,"className":""},{"id":"23d33400bcb95372","type":"ui_group","name":"CO2 / Barometric Pressure","tab":"e61606508ebe963d","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"5713b076e489f026","type":"ui_group","name":"Precipitation / Wind Direction","tab":"e61606508ebe963d","order":4,"disp":true,"width":6,"collapse":false,"className":""},{"id":"64483a0ae6f0d624","type":"ui_group","name":"Wind Info","tab":"e61606508ebe963d","order":2,"disp":true,"width":6,"collapse":false,"className":""},{"id":"64ebfcdfc44fcd46","type":"mqtt-broker","name":"","broker":"192.168.1.184","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"e063193119f81b43","type":"ui_tab","name":"Drone","icon":"","disabled":false,"hidden":false},{"id":"d0c550c72707423e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"dcb5afc7d4b5d1ec","type":"ui_group","name":"Map","tab":"e063193119f81b43","order":3,"disp":true,"width":"20","collapse":false,"className":""},{"id":"4927109389cd5918","type":"ui_group","name":"Onboard","tab":"e063193119f81b43","order":2,"disp":true,"width":11,"collapse":false,"className":""},{"id":"1963b08228858a58","type":"ui_spacer","z":"ddc83c3f84d60c8e","name":"spacer","group":"4927109389cd5918","order":1,"width":1,"height":1},{"id":"539c5d88e45aa799","type":"ui_spacer","z":"ddc83c3f84d60c8e","name":"spacer","group":"4927109389cd5918","order":3,"width":1,"height":1},{"id":"87c716e66c05aa42","type":"ui_spacer","z":"ddc83c3f84d60c8e","name":"spacer","group":"4927109389cd5918","order":5,"width":1,"height":1},{"id":"95ad01fd5880f56b","type":"ui_spacer","z":"ddc83c3f84d60c8e","name":"spacer","group":"4927109389cd5918","order":6,"width":1,"height":1},{"id":"debdd1cd4f571da8","type":"ui_spacer","z":"ddc83c3f84d60c8e","name":"spacer","group":"4927109389cd5918","order":7,"width":1,"height":1},{"id":"a2d4474e2e3c8b78","type":"ui_spacer","z":"ddc83c3f84d60c8e","name":"spacer","group":"4927109389cd5918","order":8,"width":1,"height":1},{"id":"67722bc2ca884819","type":"ui_spacer","z":"ddc83c3f84d60c8e","name":"spacer","group":"4927109389cd5918","order":9,"width":1,"height":1},{"id":"6d049761382314f5","type":"ui_spacer","z":"ddc83c3f84d60c8e","name":"spacer","group":"4927109389cd5918","order":10,"width":1,"height":1},{"id":"f2fae2d41b242813","type":"ui_spacer","z":"ddc83c3f84d60c8e","name":"spacer","group":"4927109389cd5918","order":11,"width":1,"height":1},{"id":"be759ea3e1a612e1","type":"ui_spacer","z":"ddc83c3f84d60c8e","name":"spacer","group":"4927109389cd5918","order":12,"width":1,"height":1},{"id":"d31d078495f38f85","type":"ui_spacer","z":"ddc83c3f84d60c8e","name":"spacer","group":"4927109389cd5918","order":13,"width":1,"height":1},{"id":"cee365213b75652f","type":"ui_spacer","z":"ddc83c3f84d60c8e","name":"spacer","group":"4927109389cd5918","order":14,"width":1,"height":1},{"id":"bbd5a11b78e54c73","type":"ui_spacer","z":"ddc83c3f84d60c8e","name":"spacer","group":"4927109389cd5918","order":17,"width":5,"height":1},{"id":"2b2afd6c9a924056","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"7be8d158b0070434","order":1,"width":1,"height":1},{"id":"b7ed95983466fd8a","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"7be8d158b0070434","order":3,"width":1,"height":1},{"id":"ef1b96d791154226","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"7be8d158b0070434","order":4,"width":1,"height":1},{"id":"a573f755e4081ef6","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"7be8d158b0070434","order":5,"width":1,"height":1},{"id":"fb3bc36aa1790ba6","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"7be8d158b0070434","order":6,"width":1,"height":1},{"id":"831338b751059344","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"7be8d158b0070434","order":7,"width":1,"height":1},{"id":"9bd567cf0202e558","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"7be8d158b0070434","order":8,"width":1,"height":1},{"id":"47fd2119e980a7a4","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"7be8d158b0070434","order":9,"width":1,"height":1},{"id":"11d193d9ddb1caf0","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"7be8d158b0070434","order":11,"width":1,"height":1},{"id":"9df1d0fc00755db5","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"7be8d158b0070434","order":13,"width":1,"height":1},{"id":"4e70fb4ff956be49","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"7be8d158b0070434","order":14,"width":1,"height":1},{"id":"23b5e668d4f0835c","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"7be8d158b0070434","order":15,"width":1,"height":1},{"id":"2e9cf66106278f61","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"7be8d158b0070434","order":16,"width":1,"height":1},{"id":"2cfc428f5be9aa75","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"7be8d158b0070434","order":17,"width":1,"height":1},{"id":"34eb7cc51d0615e6","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"7be8d158b0070434","order":18,"width":1,"height":1},{"id":"b386d58309f28a6e","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"7be8d158b0070434","order":19,"width":1,"height":1},{"id":"43a637d0c3320490","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"64483a0ae6f0d624","order":1,"width":1,"height":1},{"id":"fbcb8f3c9c955a6e","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"64483a0ae6f0d624","order":3,"width":1,"height":1},{"id":"b25bd67f751f7eab","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"64483a0ae6f0d624","order":4,"width":1,"height":1},{"id":"5b468cd512cef97c","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"64483a0ae6f0d624","order":5,"width":1,"height":1},{"id":"0e2126978b0fb50f","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"64483a0ae6f0d624","order":6,"width":1,"height":1},{"id":"5df13cb6b9cff19b","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"64483a0ae6f0d624","order":7,"width":1,"height":1},{"id":"79f654c81b4a3fa4","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"64483a0ae6f0d624","order":8,"width":1,"height":1},{"id":"21a03ecc5c799519","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"64483a0ae6f0d624","order":9,"width":1,"height":1},{"id":"0391f9146c1f2c84","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"23d33400bcb95372","order":1,"width":1,"height":1},{"id":"41b03b0a2db6d773","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"23d33400bcb95372","order":3,"width":1,"height":1},{"id":"302c1e2f04c61d92","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"23d33400bcb95372","order":4,"width":1,"height":1},{"id":"a09b544d2bb0dd78","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"23d33400bcb95372","order":5,"width":1,"height":1},{"id":"982e4d6c8d4a5fd0","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"23d33400bcb95372","order":6,"width":1,"height":1},{"id":"144bd06a171e0ea6","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"23d33400bcb95372","order":7,"width":1,"height":1},{"id":"3f6010eab42180fb","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"23d33400bcb95372","order":8,"width":1,"height":1},{"id":"f13ae6797bb3394c","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"23d33400bcb95372","order":9,"width":1,"height":1},{"id":"d1b52d442f37865b","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"23d33400bcb95372","order":11,"width":1,"height":1},{"id":"4ceed9f445bf03fc","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"23d33400bcb95372","order":13,"width":1,"height":1},{"id":"f7b10aa05c8c7151","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"23d33400bcb95372","order":14,"width":1,"height":1},{"id":"71e616f35c0ff2e1","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"23d33400bcb95372","order":15,"width":1,"height":1},{"id":"62617b16605ff635","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"23d33400bcb95372","order":16,"width":1,"height":1},{"id":"f511fdc64fc10db1","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"23d33400bcb95372","order":17,"width":1,"height":1},{"id":"021755db5e9fbbca","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"23d33400bcb95372","order":18,"width":1,"height":1},{"id":"e074976aa937e312","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"23d33400bcb95372","order":19,"width":1,"height":1},{"id":"72fa58ca7e9081bc","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"5713b076e489f026","order":1,"width":1,"height":1},{"id":"e84e00f007d163d2","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"5713b076e489f026","order":3,"width":1,"height":1},{"id":"a66053709dcb5fbb","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"5713b076e489f026","order":4,"width":1,"height":1},{"id":"c16683850402444c","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"5713b076e489f026","order":5,"width":1,"height":1},{"id":"26865e35e2b4e12f","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"5713b076e489f026","order":6,"width":1,"height":1},{"id":"960282189e16f86c","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"5713b076e489f026","order":7,"width":1,"height":1},{"id":"cb147db3072e975b","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"5713b076e489f026","order":8,"width":1,"height":1},{"id":"fd66abab47f1befb","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"5713b076e489f026","order":9,"width":1,"height":1},{"id":"e0ec3e68f5094cb6","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"5713b076e489f026","order":11,"width":1,"height":1},{"id":"d7078bc49dd190c7","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"5713b076e489f026","order":13,"width":1,"height":1},{"id":"e71cc226e9e9cf4f","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"5713b076e489f026","order":14,"width":1,"height":1},{"id":"e78882dd8bd8a53e","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"5713b076e489f026","order":15,"width":1,"height":1},{"id":"aa60c6d641414d9c","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"5713b076e489f026","order":16,"width":1,"height":1},{"id":"a6990591e56bf875","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"5713b076e489f026","order":17,"width":1,"height":1},{"id":"ade2323a17d10424","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"5713b076e489f026","order":18,"width":1,"height":1},{"id":"87f5eea9dd124191","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"5713b076e489f026","order":19,"width":1,"height":1},{"id":"7aa021c711d998c1","type":"ui_spacer","z":"45a27c13dc50feef","name":"spacer","group":"6a9c9282d231d3ab","order":12,"width":6,"height":1},{"id":"84b53428619c8484","type":"change","z":"45a27c13dc50feef","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"vlow","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"low","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"moderate","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"high","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"vHigh","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":180,"wires":[["b99bf6690be95252"]]},{"id":"d67634a84feae65a","type":"switch","z":"45a27c13dc50feef","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":220,"wires":[["84b53428619c8484"],["88e9d927ebb6943f"]]},{"id":"67cf43810e8a13a1","type":"inject","z":"45a27c13dc50feef","name":"set label","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":260,"y":460,"wires":[["c6edf947594cc4b0","a1ea08b78e940f15","99b05f93b7daee47","f7ac4a18e46be62c","4fdcdb0cc665fdf9"]]},{"id":"88e9d927ebb6943f","type":"change","z":"45a27c13dc50feef","name":"start","rules":[{"t":"set","p":"vlow","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"low","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"moderate","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"high","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"vHigh","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":260,"wires":[["b99bf6690be95252"]]},{"id":"c6edf947594cc4b0","type":"change","z":"45a27c13dc50feef","name":"set state of button","rules":[{"t":"set","p":"vlow","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":220,"wires":[["ff4ab2435609efe3"]]},{"id":"a47b15651b8f951d","type":"link out","z":"45a27c13dc50feef","name":"link out 1","mode":"link","links":["e49083c6902d3767","e7e8f489937dbba1","0699a19874885328","40e49f61f0a39d52","0ae92c67e5f6cc98","7122d327c6d82dd5","6a0d75758106019e","6097c3b2fb8edfb9"],"x":365,"y":100,"wires":[]},{"id":"e49083c6902d3767","type":"link in","z":"45a27c13dc50feef","name":"link in 1","links":["a47b15651b8f951d"],"x":455,"y":100,"wires":[["cf06f2934aa6578a"]]},{"id":"e6d3ac9252f1aa07","type":"inject","z":"45a27c13dc50feef","name":"Low","props":[{"p":"payload"},{"p":"topic","v":"low","vt":"flow"},{"p":"temperature","v":"20","vt":"num"},{"p":"humidity","v":"50","vt":"num"},{"p":"windSpeed","v":"20","vt":"num"},{"p":"barometric","v":"20","vt":"num"},{"p":"carbonDioxine","v":"150","vt":"num"},{"p":"windDirection","v":"110","vt":"num"},{"p":"rain","v":"5","vt":"num"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":80,"wires":[["a47b15651b8f951d"]]},{"id":"974c8fc80b1f1176","type":"inject","z":"45a27c13dc50feef","name":"Moderate","props":[{"p":"payload"},{"p":"topic","v":"moderate","vt":"flow"},{"p":"temperature","v":"25","vt":"num"},{"p":"humidity","v":"40","vt":"num"},{"p":"windSpeed","v":"20","vt":"num"},{"p":"barometric","v":"20","vt":"num"},{"p":"carbonDioxine","v":"150","vt":"num"},{"p":"windDirection","v":"140","vt":"num"},{"p":"rain","v":"3","vt":"num"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":120,"wires":[["a47b15651b8f951d"]]},{"id":"d50a98b47072037d","type":"inject","z":"45a27c13dc50feef","name":"High","props":[{"p":"payload"},{"p":"topic","v":"high","vt":"flow"},{"p":"temperature","v":"35","vt":"num"},{"p":"humidity","v":"30","vt":"num"},{"p":"windSpeed","v":"20","vt":"num"},{"p":"barometric","v":"20","vt":"num"},{"p":"carbonDioxine","v":"150","vt":"num"},{"p":"windDirection","v":"200","vt":"num"},{"p":"rain","v":"0","vt":"num"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":160,"wires":[["a47b15651b8f951d"]]},{"id":"79ad86aebd47f02e","type":"inject","z":"45a27c13dc50feef","name":"Very High","props":[{"p":"payload"},{"p":"topic","v":"vHigh","vt":"flow"},{"p":"temperature","v":"38","vt":"num"},{"p":"humidity","v":"25","vt":"num"},{"p":"windSpeed","v":"23","vt":"num"},{"p":"barometric","v":"20","vt":"num"},{"p":"carbonDioxine","v":"150","vt":"num"},{"p":"windDirection","v":"360","vt":"num"},{"p":"rain","v":"0","vt":"num"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":200,"wires":[["a47b15651b8f951d"]]},{"id":"fce76f9d49e0ff09","type":"inject","z":"45a27c13dc50feef","name":"Very Low","props":[{"p":"payload"},{"p":"topic","v":"vlow","vt":"flow"},{"p":"temperature","v":"15","vt":"num"},{"p":"humidity","v":"60","vt":"num"},{"p":"windSpeed","v":"5","vt":"num"},{"p":"barometric","v":"20","vt":"num"},{"p":"carbonDioxine","v":"150","vt":"num"},{"p":"windDirection","v":"100","vt":"num"},{"p":"rain","v":"10","vt":"num"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":40,"wires":[["a47b15651b8f951d"]]},{"id":"b99bf6690be95252","type":"ui_led","z":"45a27c13dc50feef","order":2,"group":"6a9c9282d231d3ab","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":910,"y":220,"wires":[]},{"id":"ff4ab2435609efe3","type":"ui_button","z":"45a27c13dc50feef","name":"","group":"6a9c9282d231d3ab","order":1,"width":2,"height":1,"passthru":true,"label":"Very Low","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"vlow","payloadType":"flow","topic":"topic","topicType":"msg","x":620,"y":220,"wires":[["d67634a84feae65a"]]},{"id":"c57d71eb16ec78ae","type":"switch","z":"45a27c13dc50feef","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":340,"wires":[["9a842f9f8b5796eb"],["163e2663ae4c1201"]]},{"id":"163e2663ae4c1201","type":"change","z":"45a27c13dc50feef","name":"start","rules":[{"t":"set","p":"low","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":380,"wires":[["7b2c1391d04a704b"]]},{"id":"a1ea08b78e940f15","type":"change","z":"45a27c13dc50feef","name":"set state of button","rules":[{"t":"set","p":"low","pt":"flow","to":"true","tot":"bool","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":340,"wires":[["1a3afed396158b84"]]},{"id":"7b2c1391d04a704b","type":"ui_led","z":"45a27c13dc50feef","order":4,"group":"6a9c9282d231d3ab","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":910,"y":340,"wires":[]},{"id":"1a3afed396158b84","type":"ui_button","z":"45a27c13dc50feef","name":"","group":"6a9c9282d231d3ab","order":3,"width":2,"height":1,"passthru":true,"label":"Low","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"low","payloadType":"flow","topic":"topic","topicType":"msg","x":610,"y":340,"wires":[["c57d71eb16ec78ae"]]},{"id":"7abcb1cc7b215662","type":"switch","z":"45a27c13dc50feef","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":460,"wires":[["6105db341f8a5664"],["42c99e196194923d"]]},{"id":"42c99e196194923d","type":"change","z":"45a27c13dc50feef","name":"start","rules":[{"t":"set","p":"moderate","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":500,"wires":[["920ac149c9a98e5e"]]},{"id":"99b05f93b7daee47","type":"change","z":"45a27c13dc50feef","name":"set state of button","rules":[{"t":"set","p":"moderate","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":460,"wires":[["8d5886c4f358335c"]]},{"id":"920ac149c9a98e5e","type":"ui_led","z":"45a27c13dc50feef","order":6,"group":"6a9c9282d231d3ab","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":910,"y":460,"wires":[]},{"id":"8d5886c4f358335c","type":"ui_button","z":"45a27c13dc50feef","name":"","group":"6a9c9282d231d3ab","order":5,"width":2,"height":1,"passthru":true,"label":"Moderate","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"moderate","payloadType":"flow","topic":"topic","topicType":"msg","x":620,"y":460,"wires":[["7abcb1cc7b215662"]]},{"id":"dbbc990805038d35","type":"switch","z":"45a27c13dc50feef","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":580,"wires":[["3b8277beb0f6b28a"],["50ca93d8a0f4a3c6"]]},{"id":"50ca93d8a0f4a3c6","type":"change","z":"45a27c13dc50feef","name":"start","rules":[{"t":"set","p":"high","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":620,"wires":[["d6c8084b6a0c65d2"]]},{"id":"f7ac4a18e46be62c","type":"change","z":"45a27c13dc50feef","name":"set state of button","rules":[{"t":"set","p":"high","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":580,"wires":[["d675e3a65404667e"]]},{"id":"d6c8084b6a0c65d2","type":"ui_led","z":"45a27c13dc50feef","order":10,"group":"6a9c9282d231d3ab","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":910,"y":580,"wires":[]},{"id":"d675e3a65404667e","type":"ui_button","z":"45a27c13dc50feef","name":"","group":"6a9c9282d231d3ab","order":9,"width":2,"height":1,"passthru":true,"label":"High","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"high","payloadType":"flow","topic":"topic","topicType":"msg","x":610,"y":580,"wires":[["dbbc990805038d35"]]},{"id":"ed195a145a0a2c8d","type":"switch","z":"45a27c13dc50feef","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":700,"wires":[["69dc5374c7876135"],["73e8a4cb9cc63979"]]},{"id":"73e8a4cb9cc63979","type":"change","z":"45a27c13dc50feef","name":"start","rules":[{"t":"set","p":"vHigh","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":740,"wires":[["0decd561391fe2b6"]]},{"id":"4fdcdb0cc665fdf9","type":"change","z":"45a27c13dc50feef","name":"set state of button","rules":[{"t":"set","p":"vHigh","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":700,"wires":[["a4a42556f6e97d9a"]]},{"id":"0decd561391fe2b6","type":"ui_led","z":"45a27c13dc50feef","order":8,"group":"6a9c9282d231d3ab","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":910,"y":700,"wires":[]},{"id":"a4a42556f6e97d9a","type":"ui_button","z":"45a27c13dc50feef","name":"","group":"6a9c9282d231d3ab","order":7,"width":2,"height":1,"passthru":true,"label":"Very High","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"vHigh","payloadType":"flow","topic":"topic","topicType":"msg","x":620,"y":700,"wires":[["ed195a145a0a2c8d"]]},{"id":"9a842f9f8b5796eb","type":"change","z":"45a27c13dc50feef","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"vlow","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"low","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"moderate","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"high","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"vHigh","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":300,"wires":[["7b2c1391d04a704b"]]},{"id":"6105db341f8a5664","type":"change","z":"45a27c13dc50feef","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"vlow","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"low","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"moderate","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"high","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"vHigh","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":420,"wires":[["920ac149c9a98e5e"]]},{"id":"3b8277beb0f6b28a","type":"change","z":"45a27c13dc50feef","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"vlow","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"low","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"moderate","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"high","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"vHigh","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":540,"wires":[["d6c8084b6a0c65d2"]]},{"id":"69dc5374c7876135","type":"change","z":"45a27c13dc50feef","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"vlow","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"low","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"moderate","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"high","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"vHigh","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":660,"wires":[["0decd561391fe2b6"]]},{"id":"95bb850128f30140","type":"comment","z":"45a27c13dc50feef","name":"Simulate Forest IoT Sensors","info":"","x":720,"y":20,"wires":[]},{"id":"e324fa1e7f6e0bb2","type":"json","z":"45a27c13dc50feef","name":"","property":"payload","action":"","pretty":false,"x":730,"y":100,"wires":[["534fd2b4506d9d9d"]]},{"id":"534fd2b4506d9d9d","type":"mqtt out","z":"45a27c13dc50feef","name":"","topic":"forest/iot/sensors","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"64ebfcdfc44fcd46","x":910,"y":100,"wires":[]},{"id":"cf06f2934aa6578a","type":"function","z":"45a27c13dc50feef","name":"IoT Sensors","func":"// var temperature, humidity, windSpeed, barometric;\n// var co2, windDirection, rainfall;\nvar forestObj = {};\n\nfunction getRandomInt(min, max) {\n\treturn Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\nif (msg.topic) {\n\n\tforestObj = {\n\t\t\"temperature\": msg.temperature + getRandomInt(-1, 1),\n\t\t\"humidity\": msg.humidity + getRandomInt(-1, 1),\n\t\t\"windSpeed\": msg.windSpeed + getRandomInt(-1, 1),\n\t\t\"barometric\": msg.barometric + getRandomInt(-1, 1),\n\t\t\"co2\": msg.carbonDioxine + getRandomInt(-1, 1),\n\t\t\"windDirection\": msg.windDirection,\n\t\t\"rainfall\": msg.rain + getRandomInt(-1, 1)\t\n\t};\n\n\tmsg.payload = forestObj;\n\treturn msg;\n\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":100,"wires":[["e324fa1e7f6e0bb2"]]},{"id":"f2f3ca9686477540","type":"ui_gauge","z":"d0cef6fef362f428","name":"","group":"23d33400bcb95372","order":12,"width":4,"height":4,"gtype":"wave","title":"Barometric Pressure","label":"inHg","format":"{{msg.payload.barometric}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":500,"y":460,"wires":[]},{"id":"5684f7da73daa882","type":"ui_gauge","z":"d0cef6fef362f428","name":"","group":"7be8d158b0070434","order":12,"width":4,"height":4,"gtype":"donut","title":"Humidity","label":"%","format":"{{msg.payload.humidity}}","min":0,"max":"100","colors":["#40d908","#e6e600","#ca3838"],"seg1":"35","seg2":"70","className":"","x":460,"y":220,"wires":[]},{"id":"fdb8636bec1df296","type":"ui_gauge","z":"d0cef6fef362f428","name":"","group":"64483a0ae6f0d624","order":2,"width":4,"height":4,"gtype":"donut","title":"Wind Speed","label":"m/s","format":"{{msg.payload.windSpeed}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"150","className":"","x":470,"y":340,"wires":[]},{"id":"97c311525841e190","type":"ui_gauge","z":"d0cef6fef362f428","name":"","group":"5713b076e489f026","order":12,"width":4,"height":4,"gtype":"compass","title":"Wind Direction","label":"","format":"{{msg.payload.windDirection}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":480,"y":660,"wires":[]},{"id":"5df8d844a1f139b6","type":"ui_gauge","z":"d0cef6fef362f428","name":"","group":"7be8d158b0070434","order":2,"width":4,"height":4,"gtype":"donut","title":"Temperature","label":"degree","format":"{{msg.payload.temperature}}","min":"-20","max":"50","colors":["#00ccff","#00e61b","#fa8500"],"seg1":"15","seg2":"25","className":"","x":470,"y":100,"wires":[]},{"id":"73a7e7e509eb3a1e","type":"ui_chart","z":"d0cef6fef362f428","name":"","group":"7be8d158b0070434","order":20,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":610,"y":180,"wires":[[]]},{"id":"59f1804470b95ae3","type":"ui_chart","z":"d0cef6fef362f428","name":"","group":"64483a0ae6f0d624","order":10,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"300","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":610,"y":300,"wires":[[]]},{"id":"2dbbd235ef307094","type":"ui_chart","z":"d0cef6fef362f428","name":"","group":"7be8d158b0070434","order":10,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-50","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":610,"y":60,"wires":[[]]},{"id":"1b2dac1f85dc4ad7","type":"debug","z":"d0cef6fef362f428","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.temperature","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":140,"wires":[]},{"id":"76bd080454bafbeb","type":"debug","z":"d0cef6fef362f428","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.barometric","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":500,"wires":[]},{"id":"4f31891091cce835","type":"debug","z":"d0cef6fef362f428","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.humidity","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":260,"wires":[]},{"id":"8e088d2c2e8e5808","type":"debug","z":"d0cef6fef362f428","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.windSpeed","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":380,"wires":[]},{"id":"2a2df3a95412fabb","type":"ui_gauge","z":"d0cef6fef362f428","name":"","group":"23d33400bcb95372","order":2,"width":4,"height":4,"gtype":"wave","title":"CO2","label":"PPM","format":"{{msg.payload.co2}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":450,"y":580,"wires":[]},{"id":"5b98d7825372be37","type":"ui_chart","z":"d0cef6fef362f428","name":"","group":"23d33400bcb95372","order":10,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":610,"y":540,"wires":[[]]},{"id":"3838260f91d3a038","type":"debug","z":"d0cef6fef362f428","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.co2","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":620,"wires":[]},{"id":"1b8490fafc068972","type":"ui_gauge","z":"d0cef6fef362f428","name":"","group":"5713b076e489f026","order":2,"width":4,"height":4,"gtype":"wave","title":"Rainfall","label":"mm","format":"{{msg.payload.rainfall}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":460,"y":740,"wires":[]},{"id":"269fdd65081a9765","type":"ui_chart","z":"d0cef6fef362f428","name":"","group":"5713b076e489f026","order":10,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":610,"y":700,"wires":[[]]},{"id":"02fd80524b7064ba","type":"ui_chart","z":"d0cef6fef362f428","name":"","group":"23d33400bcb95372","order":20,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":610,"y":420,"wires":[[]]},{"id":"cacf600beb13c0ea","type":"link out","z":"d0cef6fef362f428","name":"link out 3","mode":"link","links":["1ef2eb0ab5be7aa9","a4338c563cf2569d","11efe6d627998f2a","6f6f9180cea13b29","523a8f1075f11445","4a428724f8fae850","fe37c5970a963bc9"],"x":235,"y":460,"wires":[]},{"id":"1ef2eb0ab5be7aa9","type":"link in","z":"d0cef6fef362f428","name":"link in 11","links":["cacf600beb13c0ea","97cb1dfb50cd0114","b4c7db9b8a61acf1"],"x":335,"y":100,"wires":[["5df8d844a1f139b6","1b2dac1f85dc4ad7","3687a21b67f478a5"]]},{"id":"48875349f035a211","type":"mqtt in","z":"d0cef6fef362f428","name":"","topic":"forest/iot/sensors","qos":"2","datatype":"auto-detect","broker":"64ebfcdfc44fcd46","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":460,"wires":[["cacf600beb13c0ea"]]},{"id":"a4338c563cf2569d","type":"link in","z":"d0cef6fef362f428","name":"link in 12","links":["cacf600beb13c0ea","97cb1dfb50cd0114","b4c7db9b8a61acf1"],"x":335,"y":220,"wires":[["5684f7da73daa882","4f31891091cce835","da280850a53a72af"]]},{"id":"11efe6d627998f2a","type":"link in","z":"d0cef6fef362f428","name":"link in 13","links":["cacf600beb13c0ea","97cb1dfb50cd0114","b4c7db9b8a61acf1"],"x":335,"y":340,"wires":[["fdb8636bec1df296","8e088d2c2e8e5808","e1cfd7f33a20f25e"]]},{"id":"6f6f9180cea13b29","type":"link in","z":"d0cef6fef362f428","name":"link in 14","links":["cacf600beb13c0ea","97cb1dfb50cd0114","b4c7db9b8a61acf1"],"x":335,"y":460,"wires":[["f2f3ca9686477540","76bd080454bafbeb","c246a2facc600711"]]},{"id":"523a8f1075f11445","type":"link in","z":"d0cef6fef362f428","name":"link in 15","links":["cacf600beb13c0ea","97cb1dfb50cd0114","b4c7db9b8a61acf1"],"x":335,"y":580,"wires":[["2a2df3a95412fabb","3838260f91d3a038","b530fe5f1a4a0865"]]},{"id":"4a428724f8fae850","type":"link in","z":"d0cef6fef362f428","name":"link in 16","links":["cacf600beb13c0ea","97cb1dfb50cd0114","b4c7db9b8a61acf1"],"x":335,"y":660,"wires":[["97c311525841e190"]]},{"id":"fe37c5970a963bc9","type":"link in","z":"d0cef6fef362f428","name":"link in 17","links":["cacf600beb13c0ea","97cb1dfb50cd0114","b4c7db9b8a61acf1"],"x":335,"y":740,"wires":[["1b8490fafc068972","e2df7153bb6ff427","e775ce3e986c9a8a"]]},{"id":"da280850a53a72af","type":"function","z":"d0cef6fef362f428","name":"humidity","func":"msg.payload = msg.payload.humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":180,"wires":[["73a7e7e509eb3a1e"]]},{"id":"3687a21b67f478a5","type":"function","z":"d0cef6fef362f428","name":"temperature","func":"msg.payload = msg.payload.temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":60,"wires":[["2dbbd235ef307094"]]},{"id":"e1cfd7f33a20f25e","type":"function","z":"d0cef6fef362f428","name":"windSpeed","func":"msg.payload = msg.payload.windSpeed;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":300,"wires":[["59f1804470b95ae3"]]},{"id":"c246a2facc600711","type":"function","z":"d0cef6fef362f428","name":"barometric","func":"msg.payload = msg.payload.barometric;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":420,"wires":[["02fd80524b7064ba"]]},{"id":"b530fe5f1a4a0865","type":"function","z":"d0cef6fef362f428","name":"co2","func":"msg.payload = msg.payload.co2;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":540,"wires":[["5b98d7825372be37"]]},{"id":"e2df7153bb6ff427","type":"function","z":"d0cef6fef362f428","name":"rain","func":"msg.payload = msg.payload.rainfall;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":700,"wires":[["269fdd65081a9765"]]},{"id":"e775ce3e986c9a8a","type":"debug","z":"d0cef6fef362f428","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.rainfall","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":780,"wires":[]},{"id":"5928bffb75305243","type":"ui_text","z":"d0cef6fef362f428","group":"6a9c9282d231d3ab","order":13,"width":5,"height":1,"name":"","label":"ALERT: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":1320,"y":540,"wires":[]},{"id":"44e635dd73b4b48b","type":"debug","z":"d0cef6fef362f428","name":"","active":false,"console":"false","complete":"false","x":1150,"y":560,"wires":[]},{"id":"2aebc56b94c95658","type":"mqtt in","z":"d0cef6fef362f428","name":"","topic":"forest/iot/alert","qos":"2","datatype":"auto-detect","broker":"64ebfcdfc44fcd46","nl":false,"rap":true,"rh":0,"inputs":0,"x":990,"y":520,"wires":[["44e635dd73b4b48b","08213876283c5bf9"]]},{"id":"cbc8145d1a35b20a","type":"ui_led","z":"d0cef6fef362f428","order":14,"group":"6a9c9282d231d3ab","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"FIRE DETECTED","valueType":"str"},{"color":"#808080","value":"FIRE EXTINGUISHED","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1310,"y":500,"wires":[]},{"id":"29886a5be0276435","type":"comment","z":"d0cef6fef362f428","name":"Simulate Forest Fire Detection","info":"","x":1140,"y":300,"wires":[]},{"id":"6151afcf50796bf5","type":"comment","z":"d0cef6fef362f428","name":"Activate Warning","info":"","x":1140,"y":460,"wires":[]},{"id":"08213876283c5bf9","type":"function","z":"d0cef6fef362f428","name":"alert","func":"if (msg.topic) {\n    msg.payload = msg.payload.sensor;\n    if (msg.payload == \"FIRE_ON\") {\n        msg.payload = \"FIRE DETECTED\";\n    }\n    else if (msg.payload == \"FIRE_OFF\") {\n        msg.payload = \"FIRE EXTINGUISHED\";\n    }\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":520,"wires":[["5928bffb75305243","cbc8145d1a35b20a"]]},{"id":"32778735d4387135","type":"mqtt out","z":"d0cef6fef362f428","name":"","topic":"forest/iot/fire","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"64ebfcdfc44fcd46","x":1210,"y":360,"wires":[]},{"id":"6d56d4b6475b1d1d","type":"inject","z":"d0cef6fef362f428","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"sensor\":\"FIRE_ON\",\"position\":[47.397606,8.543060]}","payloadType":"json","x":1030,"y":400,"wires":[["32778735d4387135"]]},{"id":"f72822deb8545eaf","type":"ui_button","z":"d0cef6fef362f428","name":"","group":"6a9c9282d231d3ab","order":11,"width":3,"height":1,"passthru":false,"label":"Fire","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"sensor\":\"FIRE_ON\",\"position\":[47.397606,8.54306]}","payloadType":"json","topic":"topic","topicType":"msg","x":1030,"y":360,"wires":[["32778735d4387135"]]},{"id":"db1f6eca6d033798","type":"mqtt in","z":"ddc83c3f84d60c8e","name":"","topic":"drone/sensors","qos":"2","datatype":"auto-detect","broker":"64ebfcdfc44fcd46","nl":false,"rap":true,"rh":0,"inputs":0,"x":430,"y":460,"wires":[["781529a812b65961","44a4f85f1bdb1bed","1262dab87f62aef5","376dbcaf3091175b","43d751f26746804e","84befa84fedb381f","5eb0b87a2165abb0","ababa6602b12a4f9"]]},{"id":"781529a812b65961","type":"debug","z":"ddc83c3f84d60c8e","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":400,"wires":[]},{"id":"1262dab87f62aef5","type":"function","z":"ddc83c3f84d60c8e","name":"Battery","func":"var msg1 = { payload: parseInt((msg.payload.battery_info)*100) };\nvar msg2 = { payload: msg.payload.battery_id };\nvar msg3 = { payload: parseInt(msg.payload.battery_voltage_v) };\nreturn [msg1, msg2, msg3];","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":260,"wires":[["63abface34c3623c"],[],["6dd7a0f67ac53ed4"]]},{"id":"a36847af0205c9d8","type":"ui_led","z":"ddc83c3f84d60c8e","order":16,"group":"4927109389cd5918","width":1,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"False","valueType":"str"},{"color":"#008000","value":"True","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"square","showGlow":true,"name":"","x":810,"y":140,"wires":[]},{"id":"de182e3ac8f19ddc","type":"comment","z":"ddc83c3f84d60c8e","name":"Drone Dashboard","info":"","x":740,"y":40,"wires":[]},{"id":"a728c35a.c1429","type":"template","z":"ddc83c3f84d60c8e","name":"Add Map to Dashboard","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src={{{payload.url}}} height=750px width=1000px ></iframe>","x":910,"y":1000,"wires":[["347e393a.d67736"]]},{"id":"ad2c3d03.9a2be","type":"function","z":"ddc83c3f84d60c8e","name":"Inject /worldmap","func":"msg.payload =   {\n                url : \"/worldmap\",\n                command : {\n                        layer:\"Esri Satellite\",\n                        lat:40.825599,\n                        lon:15.274523,\n                        zoom:3,\n                        map: { name: \"Esri Satellite\" },\n                        addtoheatmap:true, \n                        autopan:true\n                        }\n                };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":1000,"wires":[["a728c35a.c1429"]]},{"id":"dd2e157f9b3b3633","type":"function","z":"ddc83c3f84d60c8e","name":"function 1","func":"let latitude = flow.get(\"latitude\");\nlet longitude = flow.get(\"longitude\");\n\nmsg.payload = { \"message\": \"success\", \"drone_position\": { \"latitude\": latitude, \"longitude\": longitude }, \"timestamp\": 1662468782 }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1180,"wires":[["540cc34e57fe4e9c","70b186293714632b"]]},{"id":"540cc34e57fe4e9c","type":"debug","z":"ddc83c3f84d60c8e","name":"debug 11","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":1140,"wires":[]},{"id":"3ce3f08385b6576e","type":"change","z":"ddc83c3f84d60c8e","name":"","rules":[{"t":"set","p":"latitude","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":1160,"wires":[["dd2e157f9b3b3633"]]},{"id":"c8861086751bc030","type":"change","z":"ddc83c3f84d60c8e","name":"","rules":[{"t":"set","p":"longitude","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1200,"wires":[["dd2e157f9b3b3633"]]},{"id":"3499e2ee1c3f3658","type":"ui_slider","z":"ddc83c3f84d60c8e","name":"","label":"latitude","tooltip":"","group":"4927109389cd5918","order":32,"width":5,"height":1,"passthru":true,"outs":"all","topic":"latitude","topicType":"flow","min":"-90","max":"90","step":"0.00001","className":"","x":100,"y":1160,"wires":[["3ce3f08385b6576e"]]},{"id":"12958aa28db59c03","type":"ui_slider","z":"ddc83c3f84d60c8e","name":"","label":"longitude","tooltip":"","group":"4927109389cd5918","order":33,"width":6,"height":1,"passthru":true,"outs":"all","topic":"longitude","topicType":"flow","min":"-180","max":"180","step":"0.00001","className":"","x":100,"y":1200,"wires":[["c8861086751bc030"]]},{"id":"2a0cd5b4bec9a71b","type":"comment","z":"ddc83c3f84d60c8e","name":"Control drone manually","info":"","x":140,"y":1120,"wires":[]},{"id":"347e393a.d67736","type":"ui_template","z":"ddc83c3f84d60c8e","group":"dcb5afc7d4b5d1ec","name":"Embedded Map","order":1,"width":20,"height":15,"format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1120,"y":1000,"wires":[[]]},{"id":"8ece3f8d262cb9f9","type":"ui_text","z":"ddc83c3f84d60c8e","group":"4927109389cd5918","order":15,"width":5,"height":1,"name":"","label":"Drone Status: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":840,"y":180,"wires":[]},{"id":"c3e195e988823ef5","type":"ui_text","z":"ddc83c3f84d60c8e","group":"4927109389cd5918","order":20,"width":5,"height":1,"name":"","label":"GPS info: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":820,"y":920,"wires":[]},{"id":"4c85c3eab159475b","type":"ui_text","z":"ddc83c3f84d60c8e","group":"4927109389cd5918","order":18,"width":5,"height":1,"name":"","label":"Is the drone in air: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":850,"y":860,"wires":[]},{"id":"464462086cf2ae5a","type":"ui_text","z":"ddc83c3f84d60c8e","group":"4927109389cd5918","order":24,"width":5,"height":1,"name":"","label":"Latitude: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":820,"y":340,"wires":[]},{"id":"f466bc4cde70184c","type":"ui_text","z":"ddc83c3f84d60c8e","group":"4927109389cd5918","order":31,"width":6,"height":1,"name":"","label":"Is gyrometer calibrated: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":870,"y":580,"wires":[]},{"id":"63abface34c3623c","type":"ui_gauge","z":"ddc83c3f84d60c8e","name":"","group":"4927109389cd5918","order":4,"width":4,"height":4,"gtype":"gage","title":"Battery","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#b30000","#e6e600","#00b500"],"seg1":"50","seg2":"70","className":"","x":820,"y":220,"wires":[]},{"id":"6dd7a0f67ac53ed4","type":"ui_gauge","z":"ddc83c3f84d60c8e","name":"","group":"4927109389cd5918","order":2,"width":4,"height":4,"gtype":"gage","title":"Battery Voltage","label":"V","format":"{{value}}","min":0,"max":"100","colors":["#b30000","#e6e600","#00b500"],"seg1":"50","seg2":"70","className":"","x":840,"y":300,"wires":[]},{"id":"376dbcaf3091175b","type":"function","z":"ddc83c3f84d60c8e","name":"Position","func":"var latitude = { payload: parseFloat(msg.payload.position_latitude).toFixed(5) };\nvar longitude = { payload: parseFloat(msg.payload.position_longitude).toFixed(5) };\nvar position_absolute_alt = { payload: parseFloat(msg.payload.position_absolute_alt).toFixed(2) };\nvar position_relative_alt = { payload: parseFloat(msg.payload.position_relative_alt).toFixed(2) };\nreturn [latitude, longitude, position_absolute_alt, position_relative_alt];\n\n\n","outputs":4,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":460,"wires":[["464462086cf2ae5a","c7e81206d37a529a"],["186277c313c20204","84cb9cc779da0fbf"],["c458ca77ae98efe0"],["9d956b94c2b83daa"]]},{"id":"186277c313c20204","type":"ui_text","z":"ddc83c3f84d60c8e","group":"4927109389cd5918","order":26,"width":5,"height":1,"name":"","label":"Longitude: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":830,"y":380,"wires":[]},{"id":"c458ca77ae98efe0","type":"ui_text","z":"ddc83c3f84d60c8e","group":"4927109389cd5918","order":28,"width":5,"height":1,"name":"","label":"Absolute altitude: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":850,"y":500,"wires":[]},{"id":"9d956b94c2b83daa","type":"ui_text","z":"ddc83c3f84d60c8e","group":"4927109389cd5918","order":30,"width":5,"height":1,"name":"","label":"Relative altitude: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":850,"y":540,"wires":[]},{"id":"e13a29549b9d0a60","type":"ui_text","z":"ddc83c3f84d60c8e","group":"4927109389cd5918","order":29,"width":6,"height":1,"name":"","label":"Is accelerometer calibrated: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":880,"y":620,"wires":[]},{"id":"520dd5b82b7a3af5","type":"ui_text","z":"ddc83c3f84d60c8e","group":"4927109389cd5918","order":19,"width":6,"height":1,"name":"","label":"Is magnetometer calibrated: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":880,"y":660,"wires":[]},{"id":"8677c8dcb5bc715f","type":"ui_text","z":"ddc83c3f84d60c8e","group":"4927109389cd5918","order":21,"width":6,"height":1,"name":"","label":"Is the local position set: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":870,"y":700,"wires":[]},{"id":"0ec5f752fb113e7d","type":"ui_text","z":"ddc83c3f84d60c8e","group":"4927109389cd5918","order":23,"width":6,"height":1,"name":"","label":"Is the global position set: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":870,"y":740,"wires":[]},{"id":"6137ecb8502301fe","type":"ui_text","z":"ddc83c3f84d60c8e","group":"4927109389cd5918","order":25,"width":6,"height":1,"name":"","label":"Is the home position set: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":870,"y":780,"wires":[]},{"id":"161c11ee64331cac","type":"ui_text","z":"ddc83c3f84d60c8e","group":"4927109389cd5918","order":27,"width":6,"height":1,"name":"","label":"Is the drone armed: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":850,"y":820,"wires":[]},{"id":"43d751f26746804e","type":"function","z":"ddc83c3f84d60c8e","name":"Health","func":"var health_gc = { payload: msg.payload.health_gc };\nvar health_ac = { payload: msg.payload.health_ac };\nvar health_mc = { payload: msg.payload.health_mc };\nvar health_lp = { payload: msg.payload.health_lp };\nvar health_gp = { payload: msg.payload.health_gp };\nvar health_hp = { payload: msg.payload.health_hp };\nvar health_ia = { payload: msg.payload.health_ia };\n\nreturn [health_gc, health_ac, health_mc, health_lp, health_gp, health_hp, health_ia];\n\n\n","outputs":7,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":680,"wires":[["f466bc4cde70184c"],["e13a29549b9d0a60"],["520dd5b82b7a3af5"],["8677c8dcb5bc715f"],["0ec5f752fb113e7d"],["6137ecb8502301fe"],["161c11ee64331cac"]]},{"id":"84befa84fedb381f","type":"function","z":"ddc83c3f84d60c8e","name":"GPS","func":"var gps_info = { payload: msg.payload.gps_info };\nvar fix_type = { payload: msg.payload.fix_type };\n\nreturn [gps_info, fix_type];\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":940,"wires":[["c3e195e988823ef5"],["ca76bfd215c151d2"]]},{"id":"ca76bfd215c151d2","type":"ui_text","z":"ddc83c3f84d60c8e","group":"4927109389cd5918","order":22,"width":5,"height":1,"name":"","label":"Fix type: ","format":"{{msg.payload}}","layout":"row-left","className":"","x":820,"y":960,"wires":[]},{"id":"88797856.1dede8","type":"function","z":"ddc83c3f84d60c8e","name":"Extract Coordinate","func":"//var iss_location = msg.payload.iss_position;\n //let latitude = { payload: parseFloat(msg.payload.position_latitude).toFixed(3) };\n //let longitude = { payload: parseFloat(msg.payload.position_longitude).toFixed(3) };\n let latitude = flow.get(\"latitude\");\n let longitude = flow.get(\"longitude\");\n\nmsg.payload = { \n        name : \"Drone\",\n        lat  : latitude,\n        lon  : longitude,\n        icon:\"uav\",\n        //icon: \"fa- solid fa - shuttle - space\",\n        iconColor:'#900000',\n        //command : { \"zoom\" : 3 }\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":440,"wires":[["ce09ee81.f288b","d9bb1570.f3c058"]]},{"id":"ce09ee81.f288b","type":"worldmap","z":"ddc83c3f84d60c8e","name":"","lat":"","lon":"","zoom":"","layer":"EsriS","cluster":"3","maxage":"","usermenu":"show","layers":"show","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"true","allowFileDrop":"true","path":"","overlist":"DR,CO,RA,DN,BU,RW,SN,AC,TL,HM","maplist":"OSMG,OSMC,OSMH,EsriC,EsriS,EsriT,EsriO,EsriDG,NatGeo,UKOS,OpTop,HB,AN,ST,SW","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":1290,"y":440,"wires":[]},{"id":"d9bb1570.f3c058","type":"worldmap-tracks","z":"ddc83c3f84d60c8e","name":"","depth":"20","smooth":true,"x":1250,"y":400,"wires":[["ce09ee81.f288b"]]},{"id":"c7e81206d37a529a","type":"change","z":"ddc83c3f84d60c8e","name":"","rules":[{"t":"set","p":"latitude","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":420,"wires":[["88797856.1dede8"]]},{"id":"84cb9cc779da0fbf","type":"change","z":"ddc83c3f84d60c8e","name":"","rules":[{"t":"set","p":"longitude","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":460,"wires":[["88797856.1dede8"]]},{"id":"854255a9.3272a8","type":"comment","z":"ddc83c3f84d60c8e","name":"Query the location of the drone","info":"","x":1090,"y":360,"wires":[]},{"id":"70b186293714632b","type":"link out","z":"ddc83c3f84d60c8e","name":"link out 2","mode":"link","links":["e6e2b9f573f9164c"],"x":645,"y":1180,"wires":[]},{"id":"e6e2b9f573f9164c","type":"link in","z":"ddc83c3f84d60c8e","name":"link in 10","links":["70b186293714632b"],"x":975,"y":480,"wires":[["88797856.1dede8"]]},{"id":"44a4f85f1bdb1bed","type":"ui_audio","z":"ddc83c3f84d60c8e","name":"","group":"dcb5afc7d4b5d1ec","voice":"","always":"","x":640,"y":100,"wires":[]},{"id":"5eb0b87a2165abb0","type":"function","z":"ddc83c3f84d60c8e","name":"Connected","func":"var connected = { payload: msg.payload.drone };\n\nreturn [connected];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":160,"wires":[["8ece3f8d262cb9f9","a36847af0205c9d8"]]},{"id":"ababa6602b12a4f9","type":"function","z":"ddc83c3f84d60c8e","name":"InAir","func":"var inAir = { payload: msg.payload.inAir };\n\n\nreturn [inAir];\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":820,"wires":[["4c85c3eab159475b"]]},{"id":"d720d4e.7019e28","type":"comment","z":"ddc83c3f84d60c8e","name":"One time - Add Map to Dashboard","info":"","x":860,"y":1040,"wires":[]},{"id":"9479465b.ea08c8","type":"inject","z":"ddc83c3f84d60c8e","name":"Init WorldMap","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"true","payloadType":"bool","x":480,"y":1000,"wires":[["ad2c3d03.9a2be"]]}]